Repository ouzi-dev/whalers-of-the-moon: changes, and which Prow jobs are due for each by the changed paths.
All: build-kube-dind-image, build-dind-image, build-go-builder-image, build-helm-image, build-toolbox-image

build-kube-dind-image:
  labels:
    preset-docker: 'true'
  decorate: true
  spec:
    containers:
    - name: build-kube-dind-image
      imagePullPolicy: IfNotPresent
      image: quay.io/ouzi/kube-dind:18.09
      command:
      - runner.sh
      args:
      - make
      - kube-dind-push
      securityContext:
        privileged: true
  ...

build-dind-image:
  labels:
    preset-docker: 'true'
  decorate: true
  spec:
    containers:
    - name: build-dind-image
      imagePullPolicy: IfNotPresent
      image: quay.io/ouzi/kube-dind:18.09
      command:
      - runner.sh
      args:
      - make
      - dind-push
      securityContext:
        privileged: true
      resources:
  ...

build-go-builder-image:
  labels:
    preset-docker: 'true'
  decorate: true
  spec:
    containers:
    - name: build-go-builder-image
      imagePullPolicy: IfNotPresent
      image: quay.io/ouzi/kube-dind:18.09
      command:
      - runner.sh
      args:
      - make
      - go-builder-push
      securityContext:
        privileged: true
  ...

build-helm-image:
  labels:
    preset-docker: 'true'
  decorate: true
  spec:
    containers:
    - name: build-helm-image
      imagePullPolicy: IfNotPresent
      image: quay.io/ouzi/kube-dind:18.09
      command:
      - runner.sh
      args:
      - make
      - helm-push
      securityContext:
        privileged: true
      resources:
  ...

build-toolbox-image:
  labels:
    preset-docker: 'true'
  decorate: true
  spec:
    containers:
    - name: build-toolbox-image
      imagePullPolicy: IfNotPresent
      image: quay.io/ouzi/kube-dind:18.09
      command:
      - runner.sh
      args:
      - make
      - toolbox-push
      securityContext:
        privileged: true
      resources:
  ...

feat: add credstash to toolbox (#14)
  toolbox/Dockerfile
  toolbox/Makefile
Due: build-toolbox-image

fix: add missing ssl lib
  toolbox/Dockerfile
  toolbox/Makefile
Due: build-toolbox-image

fix: add missing ssl lib (#15)
  toolbox/Dockerfile
  toolbox/Makefile
Due: build-toolbox-image

feat: add gcloud cli
  toolbox/Dockerfile
  toolbox/Makefile
Due: build-toolbox-image

fix: remove non needed update
  toolbox/Dockerfile
Due: build-toolbox-image

feat: add gcloud cli (#16)
  toolbox/Dockerfile
  toolbox/Makefile
Due: build-toolbox-image

feat: bump helm kubectl awscli and gcloud versions
  toolbox/Makefile
Due: build-toolbox-image

feat: bump helm kubectl awscli and gcloud versions (#17)
  toolbox/Makefile
Due: build-toolbox-image

Re-trigger image builds
  README.md
Due: none

Upgrade terraform to latest version
  toolbox/Makefile
Due: build-toolbox-image

fix: Bump docker image tag for toolbox
  toolbox/Makefile
Due: build-toolbox-image

feat: update terraform (#19)
  toolbox/Makefile
Due: build-toolbox-image

feat: update go version
  README.md
  go-builder/Makefile
  toolbox/Makefile
Due: build-go-builder-image, build-toolbox-image

feat: update go version (#20)
  README.md
  go-builder/Makefile
  toolbox/Makefile
Due: build-go-builder-image, build-toolbox-image

feat: add athenacli image
  Makefile
  README.md
  athenacli/Dockerfile
  athenacli/Makefile
Due: none

feat: add athenacli image (#21)
  Makefile
  README.md
  athenacli/Dockerfile
  athenacli/Makefile
Due: none

feat: update helm docker images
  README.md
  helm/Makefile
Due: build-helm-image

feat: update helm docker images (#22)
  README.md
  helm/Makefile
Due: build-helm-image

fix: update npm to the latest available version
  toolbox/Dockerfile
Due: build-toolbox-image

fix: use latest npm and fix the build
  go-builder/Dockerfile
  go-builder/Makefile
  toolbox/Makefile
Due: build-go-builder-image, build-toolbox-image

fix: add npm workaround
  go-builder/Dockerfile
  toolbox/Dockerfile
Due: build-go-builder-image, build-toolbox-image

fix: update npm to the latest available version (#23)
  go-builder/Dockerfile
  go-builder/Makefile
  toolbox/Dockerfile
  toolbox/Makefile
Due: build-go-builder-image, build-toolbox-image

feat: update the versions of the go-builder and toolbox packages
  go-builder/Makefile
  toolbox/Makefile
Due: build-go-builder-image, build-toolbox-image

feat: update the versions of the go-builder and toolbox packages (#24)
  go-builder/Makefile
  toolbox/Makefile
Due: build-go-builder-image, build-toolbox-image

feat: add node and npm to dind image
  dind/Dockerfile
Due: build-dind-image

feat: revert change to dind image and use kube-dind instead
  dind/Dockerfile
  kube-dind/Dockerfile
Due: build-kube-dind-image, build-dind-image

feat: add helm in dind image
  kube-dind/Dockerfile
  kube-dind/Makefile
Due: build-kube-dind-image, build-dind-image

feat: add git in dind
  kube-dind/Dockerfile
Due: build-kube-dind-image, build-dind-image

fix: remove unused packaged after installing npm
  kube-dind/Dockerfile
Due: build-kube-dind-image, build-dind-image

feat: add node and npm to dind image (#25)
  kube-dind/Dockerfile
  kube-dind/Makefile
Due: build-kube-dind-image, build-dind-image

feat: add git secret scanner image
  Makefile
  README.md
  git-secret-scanner/Dockerfile
  git-secret-scanner/Makefile
Due: none

feat: add git secrets scanner iamge
  git-secret-scanner/Dockerfile
  git-secret-scanner/Makefile
Due: none

feat: add git secret scanner (#26)
  Makefile
  README.md
  git-secret-scanner/Dockerfile
  git-secret-scanner/Makefile
Due: none

feat: add new python builder image
  Makefile
  python-builder/Dockerfile
  python-builder/Makefile
Due: none

feat: add prow jobs using inrepoconfig
  .prow.yaml
Due: none

feat: add new python builder image (#27)
  .prow.yaml
  Makefile
  python-builder/Dockerfile
  python-builder/Makefile
Due: none

feat: move to python3
  python-builder/Makefile
Due: none

feat: move to python3 (#28)
  python-builder/Makefile
Due: none

feat: use go 1.13.8 and golanci-lint 1.23.6
  README.md
  go-builder/Dockerfile
  go-builder/Makefile
  toolbox/Makefile
Due: build-go-builder-image, build-toolbox-image

Path conditions:
  build-kube-dind-image: any of: kube-dind/
  build-dind-image: any of: dind/
  build-go-builder-image: any of: go-builder/
  build-helm-image: any of: helm/
  build-toolbox-image: any of: toolbox/
