Repository ouzi-dev/whalers-of-the-moon: changes, and which Prow jobs are due for each by the changed paths.
All: build-kube-dind-image, build-dind-image, build-go-builder-image, build-helm-image, build-toolbox-image

config/jobs/ouzi-dev/whalers-of-the-moon/whalers_of_the_moon.yaml:

presubmits:
  ouzi-dev/whalers-of-the-moon:
    - name: build-kube-dind-image
      labels:
        preset-docker: "true"
      context: build-kube-dind-image
      decorate: true 
      always_run: false 
      skip_report: false 
      max_concurrency: 1 
      trigger: "(?m)build-kube-dind-image( please)?" 
      rerun_command: "build-kube-dind-image"
      run_if_changed: 'kube-dind/'
      spec: 
        containers:
          - name: "build-kube-dind-image"
            imagePullPolicy: IfNotPresent
            image: quay.io/ouzi/kube-dind:18.09
            command:
              - runner.sh
            args:
              - make
              - kube-dind-push
            securityContext:
              privileged: true
            resources:
              requests:
                memory: "2Gi"
    - name: build-dind-image
      labels:
        preset-docker: "true"
      context: build-dind-image
      decorate: true 
      always_run: false 
      skip_report: false 
      max_concurrency: 1 
      trigger: "(?m)build-dind-image( please)?" 
      rerun_command: "build-dind-image"
      run_if_changed: 'dind/'
      spec: 
        containers:
          - name: "build-dind-image"
            imagePullPolicy: IfNotPresent
            image: quay.io/ouzi/kube-dind:18.09
            command:
              - runner.sh
            args:
              - make
              - dind-push
            securityContext:
              privileged: true
            resources:
              requests:
                memory: "2Gi"
    - name: build-go-builder-image
      labels:
        preset-docker: "true"
      context: build-go-builder-image
      decorate: true 
      always_run: false 
      skip_report: false 
      max_concurrency: 1 
      trigger: "(?m)build-go-builder-image( please)?" 
      rerun_command: "build-go-builder-image"
      run_if_changed: 'go-builder/'
      spec: 
        containers:
          - name: "build-go-builder-image"
            imagePullPolicy: IfNotPresent
            image: quay.io/ouzi/kube-dind:18.09
            command:
              - runner.sh
            args:
              - make
              - go-builder-push
            securityContext:
              privileged: true
            resources:
              requests:
                memory: "2Gi"
    - name: build-helm-image
      labels:
        preset-docker: "true"
      context: build-helm-image
      decorate: true 
      always_run: false 
      skip_report: false 
      max_concurrency: 1 
      trigger: "(?m)build-helm-image( please)?" 
      rerun_command: "build-helm-image"
      run_if_changed: 'helm/'
      spec: 
        containers:
          - name: "build-helm-image"
            imagePullPolicy: IfNotPresent
            image: quay.io/ouzi/kube-dind:18.09
            command:
              - runner.sh
            args:
              - make
              - helm-push
            securityContext:
              privileged: true
            resources:
              requests:
                memory: "2Gi"
    - name: build-toolbox-image
      labels:
        preset-docker: "true"
      context: build-toolbox-image
      decorate: true 
      always_run: false 
      skip_report: false 
      max_concurrency: 1 
      trigger: "(?m)build-toolbox-image( please)?" 
      rerun_command: "build-toolbox-image"
      run_if_changed: 'toolbox/'
      spec: 
        containers:
          - name: "build-toolbox-image"
            imagePullPolicy: IfNotPresent
            image: quay.io/ouzi/kube-dind:18.09
            command:
              - runner.sh
            args:
              - make
              - toolbox-push
            securityContext:
              privileged: true
            resources:
              requests:
                memory: "2Gi"

fix: updated helm version
  README.md
  toolbox/Makefile
Due: build-toolbox-image

fix: build on PR and push on merge to master
  .prow.yaml
Due: none

fix: update toolbox in different PR
  README.md
  toolbox/Makefile
Due: build-toolbox-image

feat: use go 1.13.8 and golanci-lint 1.23.6 (#29)
  .prow.yaml
  README.md
  go-builder/Dockerfile
  go-builder/Makefile
Due: build-go-builder-image

feat: use go 1.13.8 and golanci-lint 1.23.6
  toolbox/Makefile
Due: build-toolbox-image

fix: updated helm version
  toolbox/Makefile
Due: build-toolbox-image

fix; updated readme
  README.md
Due: none

fix: build in pr and push on merge
  .prow.yaml
Due: none

fix: push on merge for go-builder
  .prow.yaml
Due: none

fix: use helm 3.1.0
  README.md
  toolbox/Makefile
Due: build-toolbox-image

fix: update toolbox and build on PR and push on merge to master (#30)
  .prow.yaml
  README.md
  toolbox/Makefile
Due: build-toolbox-image

fix: update helm
  README.md
  helm/Dockerfile
  helm/Makefile
Due: build-helm-image

fix: update helm (#31)
  README.md
  helm/Dockerfile
  helm/Makefile
Due: build-helm-image

fix: updated helm in toolbox
  README.md
  toolbox/Dockerfile
  toolbox/Makefile
Due: build-toolbox-image

fix: updated helm in toolbox (#32)
  README.md
  toolbox/Dockerfile
  toolbox/Makefile
Due: build-toolbox-image

feat: add extra python dependencies to the builder image
  python-builder/Dockerfile
Due: none

feat: add extra python dependencies to the builder image (#33)
  python-builder/Dockerfile
Due: none

fix: Do not build the kube dind image every time
  .prow.yaml
Due: none

fix: Do not build the kube dind image every time (#34)
  .prow.yaml
Due: none

feat: add yq
  toolbox/Dockerfile
  toolbox/Makefile
Due: build-toolbox-image

feat: add yq (#35)
  toolbox/Dockerfile
  toolbox/Makefile
Due: build-toolbox-image

feat: bump tf to 0.12.21
  toolbox/Makefile
Due: build-toolbox-image

feat: bump tf to 0.12.21 (#36)
  toolbox/Makefile
Due: build-toolbox-image

fix: update go to 1.14.0
  README.md
  go-builder/Makefile
  toolbox/Makefile
Due: build-go-builder-image, build-toolbox-image

fix: update go to 1.14.0 (#37)
  README.md
  go-builder/Makefile
  toolbox/Makefile
Due: build-go-builder-image, build-toolbox-image

fix: init gcloud cli
  .prow.yaml
  README.md
  athenacli/Makefile
  athenacli/cloudbuild-build.yaml
  athenacli/cloudbuild-push.yaml
  dind/Makefile
  dind/cloudbuild-build.yaml
  dind/cloudbuild-push.yaml
  git-secret-scanner/Makefile
  git-secret-scanner/cloudbuild-build.yaml
  git-secret-scanner/cloudbuild-push.yaml
  go-builder/Makefile
  go-builder/cloudbuild-build.yaml
  go-builder/cloudbuild-push.yaml
  helm/Makefile
  helm/cloudbuild-build.yaml
  helm/cloudbuild-push.yaml
  kube-dind/Makefile
  kube-dind/cloudbuild-build.yaml
  kube-dind/cloudbuild-push.yaml
  python-builder/Makefile
  python-builder/cloudbuild-build.yaml
  python-builder/cloudbuild-push.yaml
  toolbox/Makefile
  toolbox/cloudbuild-build.yaml
  toolbox/cloudbuild-push.yaml
Due: build-kube-dind-image, build-dind-image, build-go-builder-image, build-helm-image, build-toolbox-image

fix: init gcloud cli
  Makefile
Due: none

fix: remove duplicate equals
  helm/Makefile
Due: build-helm-image

feat: switch to google cloud builder (#38)
  .prow.yaml
  Makefile
  README.md
  athenacli/Makefile
  athenacli/cloudbuild-build.yaml
  athenacli/cloudbuild-push.yaml
  dind/Makefile
  dind/cloudbuild-build.yaml
  dind/cloudbuild-push.yaml
  git-secret-scanner/Makefile
  git-secret-scanner/cloudbuild-build.yaml
  git-secret-scanner/cloudbuild-push.yaml
  go-builder/Makefile
  go-builder/cloudbuild-build.yaml
  go-builder/cloudbuild-push.yaml
  helm/Makefile
  helm/cloudbuild-build.yaml
  helm/cloudbuild-push.yaml
  kube-dind/Makefile
  kube-dind/cloudbuild-build.yaml
  kube-dind/cloudbuild-push.yaml
  python-builder/Makefile
  python-builder/cloudbuild-build.yaml
  python-builder/cloudbuild-push.yaml
  toolbox/Makefile
  toolbox/cloudbuild-build.yaml
  toolbox/cloudbuild-push.yaml
Due: build-kube-dind-image, build-dind-image, build-go-builder-image, build-helm-image, build-toolbox-image

feat: install kubeval in toolbox
  toolbox/Dockerfile
  toolbox/Makefile
  toolbox/cloudbuild-build.yaml
  toolbox/cloudbuild-push.yaml
Due: build-toolbox-image

feat: install kubeval in toolbox (#39)
  toolbox/Dockerfile
  toolbox/Makefile
  toolbox/cloudbuild-build.yaml
  toolbox/cloudbuild-push.yaml
Due: build-toolbox-image

feat: use newest python version and add g++
  python-builder/Dockerfile
  python-builder/Makefile
Due: none

feat: use newest python version and add g++ (#40)
  python-builder/Dockerfile
  python-builder/Makefile
Due: none

feat: bump tf in toolbox to 0.12.23
  toolbox/Makefile
Due: build-toolbox-image

feat: bump tf in toolbox to 0.12.23 (#41)
  toolbox/Makefile
Due: build-toolbox-image

feat: add gcloud builder
  Makefile
  gcloud-builder/Dockerfile
  gcloud-builder/Makefile
  gcloud-builder/cloudbuild-build.yaml
  gcloud-builder/cloudbuild-push.yaml
Due: none

feat: add gcloud builder prow job
  .prow.yaml
Due: none

feat: build gcloud builder with itself
  .prow.yaml
Due: none

feat: switch all jobs to use gcloud builder
  .prow.yaml
Due: none

feat: google cloud builder (#42)
  .prow.yaml
  Makefile
  gcloud-builder/Dockerfile
  gcloud-builder/Makefile
  gcloud-builder/cloudbuild-build.yaml
  gcloud-builder/cloudbuild-push.yaml
Due: none
