Repository ouzi-dev/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: test-prow-config, monitoring-dry-run, test-config-postsubmit, test-prow-manifests, test-terraform-changes, test-prow-manifests-postsubmit, test-infra, test-manifests, monitoring, apply-infra, deploy-prow

test-prow-config:
  decorate: true
  spec:
    containers:
    - name: test-config
      imagePullPolicy: IfNotPresent
      command:
      - checkconfig
      args:
      - --config-path=prow/config.yaml
      - --plugin-config=prow/plugins.yaml
      - --job-config-path=config/jobs
      image: belitre/checkconfig:latest

monitoring-dry-run:
  decorate: true
  spec:
    containers:
    - name: monitoring-dry-run
      imagePullPolicy: IfNotPresent
      command:
      - make
      args:
      - monitoring-dry-run
      image: quay.io/ouzi/toolbox:0.1.2

test-config-postsubmit:
  decorate: true
  spec:
    containers:
    - name: test-config
      imagePullPolicy: IfNotPresent
      command:
      - checkconfig
      args:
      - --config-path=prow/config.yaml
      - --plugin-config=prow/plugins.yaml
      - --job-config-path=config/jobs
      image: belitre/checkconfig:latest

test-prow-manifests:
  decorate: true
  spec:
    serviceAccountName: prow
    containers:
    - name: test-manifests
      imagePullPolicy: IfNotPresent
      command:
      - make
      args:
      - deploy-prow-dry-run
      image: belitre/kubectl:latest

test-terraform-changes:
  decorate: true
  labels:
    preset-terraform: 'true'
  spec:
    serviceAccountName: prow
    containers:
    - name: test-terraform-changes
      imagePullPolicy: IfNotPresent
      command:
      - make
      args:
      - infra-plan
      image: hashicorp/terraform:0.12.7

test-prow-manifests-postsubmit:
  decorate: true
  spec:
    serviceAccountName: prow
    containers:
    - name: test-manifests
      imagePullPolicy: IfNotPresent
      command:
      - make
      args:
      - deploy-prow
      image: belitre/kubectl:latest

test-infra:
  decorate: true
  labels:
    preset-aws-ouzi: 'true'
  spec:
    containers:
    - name: test-infra
      imagePullPolicy: IfNotPresent
      command:
      - make
      args:
      - infra-setup
      - infra-plan
      image: quay.io/ouzi/toolbox:0.1.9

test-manifests:
  decorate: true
  labels:
    preset-aws-ouzi: 'true'
  spec:
    serviceAccountName: prow
    containers:
    - name: test-manifests
      imagePullPolicy: IfNotPresent
      command:
      - make
      args:
      - deploy-dry-run
      image: quay.io/ouzi/toolbox:0.1.9

monitoring:
  decorate: true
  spec:
    serviceAccountName: prow
    containers:
    - name: monitoring
      imagePullPolicy: IfNotPresent
      command:
      - make
      args:
      - monitoring-apply
      image: quay.io/ouzi/toolbox:0.1.9

apply-infra:
  decorate: true
  labels:
    preset-aws-ouzi: 'true'
  spec:
    containers:
    - name: apply-infra
      imagePullPolicy: IfNotPresent
      command:
      - make
      args:
      - infra-setup
      - infra-apply
      image: quay.io/ouzi/toolbox:0.1.9

fix: update prow installer
  cluster/Makefile
Due: test-manifests, deploy-prow

fix: update prow installer (#123)
  cluster/Makefile
Due: test-manifests, deploy-prow

feat: remove deleted ouzi.io repo
  config/jobs/ouzi-dev/ouzi.io/ouzi-io.yaml
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

feat: remove deleted ouzi.io repo (#124)
  config/jobs/ouzi-dev/ouzi.io/ouzi-io.yaml
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

fix: updated prow chart
  cluster/Makefile
Due: test-manifests, deploy-prow

fix: updated prow chart (#125)
  cluster/Makefile
Due: test-manifests, deploy-prow

fix: added new commit type
  prow/plugins.yaml
Due: test-prow-config, test-config-postsubmit

fix: added new commit type (#126)
  prow/plugins.yaml
Due: test-prow-config, test-config-postsubmit

fix: updated prow installer
  cluster/Makefile
Due: test-manifests, deploy-prow

fix: updated prow installer (#127)
  cluster/Makefile
Due: test-manifests, deploy-prow

feat: change to smaller instance type
  infrastructure/main.tf
  infrastructure/terraform.tfvars
  infrastructure/variables.tf
Due: test-terraform-changes, test-infra, apply-infra

feat: change to smaller instance type (#128)
  infrastructure/main.tf
  infrastructure/terraform.tfvars
  infrastructure/variables.tf
Due: test-terraform-changes, test-infra, apply-infra

feat: update check config to prow version
  Makefile
  config/jobs/ouzi-dev/avro-kedavro/avro-kedavro.yaml
  config/jobs/ouzi-dev/bigbang/bigbang.yaml
  config/jobs/ouzi-dev/chart-museum-deploy/chart-museum-deploy.yaml
  config/jobs/ouzi-dev/claptrap/claptrap.yaml
  config/jobs/ouzi-dev/commit-status-updater/commit-status-updater.yaml
  config/jobs/ouzi-dev/credstash-operator/credstash_operator.yaml
  config/jobs/ouzi-dev/dind-action/dind-action.yaml
  config/jobs/ouzi-dev/docs/docs.yaml
  config/jobs/ouzi-dev/eks-terraform/eks-terraform.yaml
  config/jobs/ouzi-dev/gke-terraform/gke-terraform.yaml
  config/jobs/ouzi-dev/go-make-action/go-make-action.yaml
  config/jobs/ouzi-dev/hoarder-prow/hoarder-prow.yaml
  config/jobs/ouzi-dev/k8sprimitives1/k8sprimitives1.yaml
  config/jobs/ouzi-dev/needs-retitle/needs-retitle.yaml
  config/jobs/ouzi-dev/node-tagger/node-tagger.yaml
  config/jobs/ouzi-dev/owners-template/owners-template.yaml
  config/jobs/ouzi-dev/prow-gke-terraform/prow-gke-terraform.yaml
  config/jobs/ouzi-dev/prow-helm-chart/prow-helm-charts.yaml
  config/jobs/ouzi-dev/prow-installer/prow-installer.yaml
  config/jobs/ouzi-dev/syrinx/syrinx.yaml
  config/jobs/ouzi-dev/test-infra/test-infra.yaml
  config/jobs/ouzi-dev/whalers-of-the-moon/whalers_of_the_moon.yaml
Due: test-prow-config, test-config-postsubmit

feat: update check config to prow version (#130)
  Makefile
  config/jobs/ouzi-dev/avro-kedavro/avro-kedavro.yaml
  config/jobs/ouzi-dev/bigbang/bigbang.yaml
  config/jobs/ouzi-dev/chart-museum-deploy/chart-museum-deploy.yaml
  config/jobs/ouzi-dev/claptrap/claptrap.yaml
  config/jobs/ouzi-dev/commit-status-updater/commit-status-updater.yaml
  config/jobs/ouzi-dev/credstash-operator/credstash_operator.yaml
  config/jobs/ouzi-dev/dind-action/dind-action.yaml
  config/jobs/ouzi-dev/docs/docs.yaml
  config/jobs/ouzi-dev/eks-terraform/eks-terraform.yaml
  config/jobs/ouzi-dev/gke-terraform/gke-terraform.yaml
  config/jobs/ouzi-dev/go-make-action/go-make-action.yaml
  config/jobs/ouzi-dev/hoarder-prow/hoarder-prow.yaml
  config/jobs/ouzi-dev/k8sprimitives1/k8sprimitives1.yaml
  config/jobs/ouzi-dev/needs-retitle/needs-retitle.yaml
  config/jobs/ouzi-dev/node-tagger/node-tagger.yaml
  config/jobs/ouzi-dev/owners-template/owners-template.yaml
  config/jobs/ouzi-dev/prow-gke-terraform/prow-gke-terraform.yaml
  config/jobs/ouzi-dev/prow-helm-chart/prow-helm-charts.yaml
  config/jobs/ouzi-dev/prow-installer/prow-installer.yaml
  config/jobs/ouzi-dev/syrinx/syrinx.yaml
  config/jobs/ouzi-dev/test-infra/test-infra.yaml
  config/jobs/ouzi-dev/whalers-of-the-moon/whalers_of_the_moon.yaml
Due: test-prow-config, test-config-postsubmit

feat: update to latest prow installer v1.11.0 prow v20201228-15d664642a
  Makefile
  cluster/Makefile
  config/jobs/ouzi-dev/avro-kedavro/avro-kedavro.yaml
  config/jobs/ouzi-dev/bigbang/bigbang.yaml
  config/jobs/ouzi-dev/chart-museum-deploy/chart-museum-deploy.yaml
  config/jobs/ouzi-dev/claptrap/claptrap.yaml
  config/jobs/ouzi-dev/commit-status-updater/commit-status-updater.yaml
  config/jobs/ouzi-dev/credstash-operator/credstash_operator.yaml
  config/jobs/ouzi-dev/dind-action/dind-action.yaml
  config/jobs/ouzi-dev/docs/docs.yaml
  config/jobs/ouzi-dev/eks-terraform/eks-terraform.yaml
  config/jobs/ouzi-dev/gke-terraform/gke-terraform.yaml
  config/jobs/ouzi-dev/go-make-action/go-make-action.yaml
  config/jobs/ouzi-dev/hoarder-prow/hoarder-prow.yaml
  config/jobs/ouzi-dev/k8sprimitives1/k8sprimitives1.yaml
  config/jobs/ouzi-dev/needs-retitle/needs-retitle.yaml
  config/jobs/ouzi-dev/node-tagger/node-tagger.yaml
  config/jobs/ouzi-dev/owners-template/owners-template.yaml
  config/jobs/ouzi-dev/prow-gke-terraform/prow-gke-terraform.yaml
  config/jobs/ouzi-dev/prow-helm-chart/prow-helm-charts.yaml
  config/jobs/ouzi-dev/prow-installer/prow-installer.yaml
  config/jobs/ouzi-dev/syrinx/syrinx.yaml
  config/jobs/ouzi-dev/test-infra/test-infra.yaml
  config/jobs/ouzi-dev/whalers-of-the-moon/whalers_of_the_moon.yaml
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit, test-manifests, deploy-prow

fix: update to latest prow installer with oauth proxy fix
  cluster/Makefile
Due: test-manifests, deploy-prow

feat: update to latest prow installer v1.11.0 prow v20201228-15d664642a (#131)
  Makefile
  cluster/Makefile
  config/jobs/ouzi-dev/avro-kedavro/avro-kedavro.yaml
  config/jobs/ouzi-dev/bigbang/bigbang.yaml
  config/jobs/ouzi-dev/chart-museum-deploy/chart-museum-deploy.yaml
  config/jobs/ouzi-dev/claptrap/claptrap.yaml
  config/jobs/ouzi-dev/commit-status-updater/commit-status-updater.yaml
  config/jobs/ouzi-dev/credstash-operator/credstash_operator.yaml
  config/jobs/ouzi-dev/dind-action/dind-action.yaml
  config/jobs/ouzi-dev/docs/docs.yaml
  config/jobs/ouzi-dev/eks-terraform/eks-terraform.yaml
  config/jobs/ouzi-dev/gke-terraform/gke-terraform.yaml
  config/jobs/ouzi-dev/go-make-action/go-make-action.yaml
  config/jobs/ouzi-dev/hoarder-prow/hoarder-prow.yaml
  config/jobs/ouzi-dev/k8sprimitives1/k8sprimitives1.yaml
  config/jobs/ouzi-dev/needs-retitle/needs-retitle.yaml
  config/jobs/ouzi-dev/node-tagger/node-tagger.yaml
  config/jobs/ouzi-dev/owners-template/owners-template.yaml
  config/jobs/ouzi-dev/prow-gke-terraform/prow-gke-terraform.yaml
  config/jobs/ouzi-dev/prow-helm-chart/prow-helm-charts.yaml
  config/jobs/ouzi-dev/prow-installer/prow-installer.yaml
  config/jobs/ouzi-dev/syrinx/syrinx.yaml
  config/jobs/ouzi-dev/test-infra/test-infra.yaml
  config/jobs/ouzi-dev/whalers-of-the-moon/whalers_of_the_moon.yaml
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit, test-manifests, deploy-prow

fix: use correct protocol for gs bucket
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

fix: use correct protocol for gs bucket (#132)
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

fix: switch to legacy paths
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

fix: set explicitly the gh org for decoration
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

fix: set default decoration
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

fix: set default org repo
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

fix: use only one decoration config
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

fix: switch to legacy paths (#133)
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

feat: allow reruns for the team
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

doc: add docs link
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

feat: allow reruns for the team (#129)
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

feat: switch to new GH token
  cluster/values.yaml
Due: test-manifests, deploy-prow

feat: switch to new GH token (#134)
  cluster/values.yaml
Due: test-manifests, deploy-prow

fix: use github actions and main for avro-kedavro
  config/jobs/ouzi-dev/avro-kedavro/avro-kedavro.yaml
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

fix: use github actions and main for avro-kedavro (#135)
  config/jobs/ouzi-dev/avro-kedavro/avro-kedavro.yaml
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

feat: upgrade cluster stack to support new tf versions
  .gitignore
  infrastructure/Makefile
  infrastructure/main.tf
  infrastructure/versions.tf
Due: test-terraform-changes, test-infra, apply-infra

fix: remove extra arg
  infrastructure/Makefile
Due: test-terraform-changes, test-infra, apply-infra

fix: update plugin config
  Makefile
  prow/plugins.yaml
Due: test-prow-config, test-config-postsubmit

feat: update jobs to support new prow version
  cluster/values.yaml
  config/jobs/ouzi-dev/avro-kedavro/avro-kedavro.yaml
  config/jobs/ouzi-dev/bigbang/bigbang.yaml
  config/jobs/ouzi-dev/chart-museum-deploy/chart-museum-deploy.yaml
  config/jobs/ouzi-dev/claptrap/claptrap.yaml
  config/jobs/ouzi-dev/commit-status-updater/commit-status-updater.yaml
  config/jobs/ouzi-dev/credstash-operator/credstash_operator.yaml
  config/jobs/ouzi-dev/dind-action/dind-action.yaml
  config/jobs/ouzi-dev/docs/docs.yaml
  config/jobs/ouzi-dev/eks-terraform/eks-terraform.yaml
  config/jobs/ouzi-dev/gke-terraform/gke-terraform.yaml
  config/jobs/ouzi-dev/go-make-action/go-make-action.yaml
  config/jobs/ouzi-dev/hoarder-prow/hoarder-prow.yaml
  config/jobs/ouzi-dev/k8sprimitives1/k8sprimitives1.yaml
  config/jobs/ouzi-dev/needs-retitle/needs-retitle.yaml
  config/jobs/ouzi-dev/node-tagger/node-tagger.yaml
  config/jobs/ouzi-dev/owners-template/owners-template.yaml
  config/jobs/ouzi-dev/prow-gke-terraform/prow-gke-terraform.yaml
  config/jobs/ouzi-dev/prow-helm-chart/prow-helm-charts.yaml
  config/jobs/ouzi-dev/prow-installer/prow-installer.yaml
  config/jobs/ouzi-dev/syrinx/syrinx.yaml
  config/jobs/ouzi-dev/test-infra/test-infra.yaml
  config/jobs/ouzi-dev/whalers-of-the-moon/whalers_of_the_moon.yaml
  prow/Makefile
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit, test-manifests, deploy-prow

feat: prow upgrade (#137)
  .gitignore
  Makefile
  cluster/values.yaml
  config/jobs/ouzi-dev/avro-kedavro/avro-kedavro.yaml
  config/jobs/ouzi-dev/bigbang/bigbang.yaml
  config/jobs/ouzi-dev/chart-museum-deploy/chart-museum-deploy.yaml
  config/jobs/ouzi-dev/claptrap/claptrap.yaml
  config/jobs/ouzi-dev/commit-status-updater/commit-status-updater.yaml
  config/jobs/ouzi-dev/credstash-operator/credstash_operator.yaml
  config/jobs/ouzi-dev/dind-action/dind-action.yaml
  config/jobs/ouzi-dev/docs/docs.yaml
  config/jobs/ouzi-dev/eks-terraform/eks-terraform.yaml
  config/jobs/ouzi-dev/gke-terraform/gke-terraform.yaml
  config/jobs/ouzi-dev/go-make-action/go-make-action.yaml
  config/jobs/ouzi-dev/hoarder-prow/hoarder-prow.yaml
  config/jobs/ouzi-dev/k8sprimitives1/k8sprimitives1.yaml
  config/jobs/ouzi-dev/needs-retitle/needs-retitle.yaml
  config/jobs/ouzi-dev/node-tagger/node-tagger.yaml
  config/jobs/ouzi-dev/owners-template/owners-template.yaml
  config/jobs/ouzi-dev/prow-gke-terraform/prow-gke-terraform.yaml
  config/jobs/ouzi-dev/prow-helm-chart/prow-helm-charts.yaml
  config/jobs/ouzi-dev/prow-installer/prow-installer.yaml
  config/jobs/ouzi-dev/syrinx/syrinx.yaml
  config/jobs/ouzi-dev/test-infra/test-infra.yaml
  config/jobs/ouzi-dev/whalers-of-the-moon/whalers_of_the_moon.yaml
  infrastructure/Makefile
  infrastructure/main.tf
  infrastructure/versions.tf
  prow/Makefile
  prow/config.yaml
  prow/plugins.yaml
Due: test-prow-config, test-config-postsubmit, test-terraform-changes, test-infra, test-manifests, apply-infra, deploy-prow

feat: update checkconfig jobs
  config/jobs/ouzi-dev/avro-kedavro/avro-kedavro.yaml
  config/jobs/ouzi-dev/bigbang/bigbang.yaml
  config/jobs/ouzi-dev/chart-museum-deploy/chart-museum-deploy.yaml
  config/jobs/ouzi-dev/claptrap/claptrap.yaml
  config/jobs/ouzi-dev/commit-status-updater/commit-status-updater.yaml
  config/jobs/ouzi-dev/credstash-operator/credstash_operator.yaml
  config/jobs/ouzi-dev/dind-action/dind-action.yaml
  config/jobs/ouzi-dev/docs/docs.yaml
  config/jobs/ouzi-dev/eks-terraform/eks-terraform.yaml
  config/jobs/ouzi-dev/gke-terraform/gke-terraform.yaml
  config/jobs/ouzi-dev/go-make-action/go-make-action.yaml
  config/jobs/ouzi-dev/hoarder-prow/hoarder-prow.yaml
  config/jobs/ouzi-dev/k8sprimitives1/k8sprimitives1.yaml
  config/jobs/ouzi-dev/needs-retitle/needs-retitle.yaml
  config/jobs/ouzi-dev/node-tagger/node-tagger.yaml
  config/jobs/ouzi-dev/owners-template/owners-template.yaml
  config/jobs/ouzi-dev/prow-gke-terraform/prow-gke-terraform.yaml
  config/jobs/ouzi-dev/prow-helm-chart/prow-helm-charts.yaml
  config/jobs/ouzi-dev/prow-installer/prow-installer.yaml
  config/jobs/ouzi-dev/syrinx/syrinx.yaml
  config/jobs/ouzi-dev/test-infra/test-infra.yaml
  config/jobs/ouzi-dev/whalers-of-the-moon/whalers_of_the_moon.yaml
Due: test-prow-config, test-config-postsubmit

feat: update checkconfig jobs (#138)
  config/jobs/ouzi-dev/avro-kedavro/avro-kedavro.yaml
  config/jobs/ouzi-dev/bigbang/bigbang.yaml
  config/jobs/ouzi-dev/chart-museum-deploy/chart-museum-deploy.yaml
  config/jobs/ouzi-dev/claptrap/claptrap.yaml
  config/jobs/ouzi-dev/commit-status-updater/commit-status-updater.yaml
  config/jobs/ouzi-dev/credstash-operator/credstash_operator.yaml
  config/jobs/ouzi-dev/dind-action/dind-action.yaml
  config/jobs/ouzi-dev/docs/docs.yaml
  config/jobs/ouzi-dev/eks-terraform/eks-terraform.yaml
  config/jobs/ouzi-dev/gke-terraform/gke-terraform.yaml
  config/jobs/ouzi-dev/go-make-action/go-make-action.yaml
  config/jobs/ouzi-dev/hoarder-prow/hoarder-prow.yaml
  config/jobs/ouzi-dev/k8sprimitives1/k8sprimitives1.yaml
  config/jobs/ouzi-dev/needs-retitle/needs-retitle.yaml
  config/jobs/ouzi-dev/node-tagger/node-tagger.yaml
  config/jobs/ouzi-dev/owners-template/owners-template.yaml
  config/jobs/ouzi-dev/prow-gke-terraform/prow-gke-terraform.yaml
  config/jobs/ouzi-dev/prow-helm-chart/prow-helm-charts.yaml
  config/jobs/ouzi-dev/prow-installer/prow-installer.yaml
  config/jobs/ouzi-dev/syrinx/syrinx.yaml
  config/jobs/ouzi-dev/test-infra/test-infra.yaml
  config/jobs/ouzi-dev/whalers-of-the-moon/whalers_of_the_moon.yaml
Due: test-prow-config, test-config-postsubmit

feat: remove entrypoint
  config/jobs/ouzi-dev/avro-kedavro/avro-kedavro.yaml
  config/jobs/ouzi-dev/bigbang/bigbang.yaml
  config/jobs/ouzi-dev/chart-museum-deploy/chart-museum-deploy.yaml
  config/jobs/ouzi-dev/claptrap/claptrap.yaml
  config/jobs/ouzi-dev/commit-status-updater/commit-status-updater.yaml
  config/jobs/ouzi-dev/credstash-operator/credstash_operator.yaml
  config/jobs/ouzi-dev/dind-action/dind-action.yaml
  config/jobs/ouzi-dev/docs/docs.yaml
  config/jobs/ouzi-dev/eks-terraform/eks-terraform.yaml
  config/jobs/ouzi-dev/gke-terraform/gke-terraform.yaml
  config/jobs/ouzi-dev/go-make-action/go-make-action.yaml
  config/jobs/ouzi-dev/hoarder-prow/hoarder-prow.yaml
  config/jobs/ouzi-dev/k8sprimitives1/k8sprimitives1.yaml
  config/jobs/ouzi-dev/needs-retitle/needs-retitle.yaml
  config/jobs/ouzi-dev/node-tagger/node-tagger.yaml
  config/jobs/ouzi-dev/owners-template/owners-template.yaml
  config/jobs/ouzi-dev/prow-gke-terraform/prow-gke-terraform.yaml
  config/jobs/ouzi-dev/prow-helm-chart/prow-helm-charts.yaml
  config/jobs/ouzi-dev/prow-installer/prow-installer.yaml
  config/jobs/ouzi-dev/syrinx/syrinx.yaml
  config/jobs/ouzi-dev/test-infra/test-infra.yaml
  config/jobs/ouzi-dev/whalers-of-the-moon/whalers_of_the_moon.yaml
Due: test-prow-config, test-config-postsubmit

Path conditions:
  test-prow-config: any of: ^(config/.*|prow/.*)$
  monitoring-dry-run: any of: monitoring/
  test-config-postsubmit: any of: ^(config/.*|prow/.*)$
  test-prow-manifests: any of: prow/manifests/
  test-terraform-changes: any of: infrastructure/
  test-prow-manifests-postsubmit: any of: prow/manifests/
  test-infra: any of: ^(infrastructure/.*)$
  test-manifests: any of: ^(cluster/.*)$
  monitoring: any of: monitoring/
  apply-infra: any of: ^(infrastructure/.*)$
  deploy-prow: any of: ^(cluster/.*)$
