Repository ouzi-dev/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: test-prow-config, monitoring-dry-run, test-config-postsubmit, test-prow-manifests, test-terraform-changes, test-prow-manifests-postsubmit, test-infra, test-manifests, monitoring, apply-infra, deploy-prow

Path conditions:
  test-prow-config: any of: ^(config/.*|prow/.*)$
  monitoring-dry-run: any of: monitoring/
  test-config-postsubmit: any of: ^(config/.*|prow/.*)$
  test-prow-manifests: any of: prow/manifests/
  test-terraform-changes: any of: infrastructure/
  test-prow-manifests-postsubmit: any of: prow/manifests/
  test-infra: any of: ^(infrastructure/.*)$
  test-manifests: any of: ^(cluster/.*)$
  monitoring: any of: monitoring/
  apply-infra: any of: ^(infrastructure/.*)$
  deploy-prow: any of: ^(cluster/.*)$

fix: set autoscaling min resources to 0
  infrastructure/main.tf
Due: test-terraform-changes, test-infra, apply-infra

fix: set autoscaling min resources to 0 (#104)
  infrastructure/main.tf
Due: test-terraform-changes, test-infra, apply-infra

fix: upgrade prow to latest
  cluster/Makefile
Due: test-manifests, deploy-prow

fix: upgrade prow to latest (#105)
  cluster/Makefile
Due: test-manifests, deploy-prow

feat: bump to latest prow installer
  cluster/Makefile
Due: test-manifests, deploy-prow

feat: bump to latest prow installer (#106)
  cluster/Makefile
Due: test-manifests, deploy-prow

Update monitoring-certificate.yaml
  monitoring/manifests/expose/monitoring-certificate.yaml
Due: monitoring-dry-run, monitoring

Update monitoring-certificate.yaml (#107)
  monitoring/manifests/expose/monitoring-certificate.yaml
Due: monitoring-dry-run, monitoring

feat: turn off auto provisioning
  infrastructure/main.tf
Due: test-terraform-changes, test-infra, apply-infra

feat: turn off auto provisioning (#108)
  infrastructure/main.tf
Due: test-terraform-changes, test-infra, apply-infra

fix: cluster autoscaling default to off
  infrastructure/main.tf
Due: test-terraform-changes, test-infra, apply-infra

fix: cluster autoscaling default to off (#109)
  infrastructure/main.tf
Due: test-terraform-changes, test-infra, apply-infra

Add k8sprimitives1 repo
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

Add k8sprimitives1 default jobs
  config/jobs/ouzi-dev/k8sprimitives1/k8sprimitives1.yaml
Due: test-prow-config, test-config-postsubmit

feat: Add k8sprimitives1 repo (#110)
  config/jobs/ouzi-dev/k8sprimitives1/k8sprimitives1.yaml
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

fix: add piti
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

fix: add piti (#111)
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

feat: require branches to be uptodate with base
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

feat: require branches to be uptodate with base (#112)
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

Revert "feat: require branches to be uptodate with base (#112)"
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

Revert "feat: require branches to be uptodate with base (#112)" (#113)
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

feat: upgrade to prow installer v1.9.0 with prow v20200610-6c96a0a6ed
  cluster/Makefile
Due: test-manifests, deploy-prow

feat: upgrade to prow installer v1.9.0 with prow v20200610-6c96a0a6ed (#114)
  cluster/Makefile
Due: test-manifests, deploy-prow

feat: add chart-museum-deploy to prow
  config/jobs/ouzi-dev/chart-museum-deploy/chart-museum-deploy.yaml
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

feat: add chart-museum-deploy to prow (#115)
  config/jobs/ouzi-dev/chart-museum-deploy/chart-museum-deploy.yaml
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

feat: add preset for pushing helm charts
  cluster/values.yaml
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit, test-manifests, deploy-prow

feat: add preset for pushing helm charts (#116)
  cluster/values.yaml
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit, test-manifests, deploy-prow

fix: added setting for needs-retitle plugin
  prow/config.yaml
  prow/plugins.yaml
Due: test-prow-config, test-config-postsubmit

fix: added setting for needs-retitle plugin (#117)
  prow/config.yaml
  prow/plugins.yaml
Due: test-prow-config, test-config-postsubmit

fix: enable needs-retitle in single repo for tests
  prow/plugins.yaml
Due: test-prow-config, test-config-postsubmit

fix: enable needs-retitle in single repo for tests (#118)
  prow/plugins.yaml
Due: test-prow-config, test-config-postsubmit

fix: enable needs-retitle in all repos
  prow/labels.yaml
  prow/plugins.yaml
Due: test-prow-config, test-config-postsubmit

fix: enable needs-retitle in all repos (#119)
  prow/labels.yaml
  prow/plugins.yaml
Due: test-prow-config, test-config-postsubmit

fix: change need retitle label color
  prow/labels.yaml
Due: test-prow-config, test-config-postsubmit

fix: change need retitle label color (#120)
  prow/labels.yaml
Due: test-prow-config, test-config-postsubmit

fix: added needs-retitle default jobs
  config/jobs/ouzi-dev/needs-retitle/needs-retitle.yaml
Due: test-prow-config, test-config-postsubmit

fix: added needs-retitle default jobs (#121)
  config/jobs/ouzi-dev/needs-retitle/needs-retitle.yaml
Due: test-prow-config, test-config-postsubmit

fix: retitle settings
  prow/plugins.yaml
Due: test-prow-config, test-config-postsubmit

fix: retitle settings (#122)
  prow/plugins.yaml
Due: test-prow-config, test-config-postsubmit
