Repository ouzi-dev/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: test-prow-config, monitoring-dry-run, test-config-postsubmit, test-prow-manifests, test-terraform-changes, test-prow-manifests-postsubmit, test-infra, test-manifests, monitoring, apply-infra, deploy-prow

test-prow-config:
  decorate: true
  spec:
    containers:
    - name: test-config
      imagePullPolicy: IfNotPresent
      command:
      - checkconfig
      args:
      - --config-path=prow/config.yaml
      - --plugin-config=prow/plugins.yaml
      - --job-config-path=config/jobs
      image: belitre/checkconfig:latest

monitoring-dry-run:
  decorate: true
  spec:
    containers:
    - name: monitoring-dry-run
      imagePullPolicy: IfNotPresent
      command:
      - make
      args:
      - monitoring-dry-run
      image: quay.io/ouzi/toolbox:0.1.2

test-config-postsubmit:
  decorate: true
  spec:
    containers:
    - name: test-config
      imagePullPolicy: IfNotPresent
      command:
      - checkconfig
      args:
      - --config-path=prow/config.yaml
      - --plugin-config=prow/plugins.yaml
      - --job-config-path=config/jobs
      image: belitre/checkconfig:latest

test-prow-manifests:
  decorate: true
  spec:
    serviceAccountName: prow
    containers:
    - name: test-manifests
      imagePullPolicy: IfNotPresent
      command:
      - make
      args:
      - deploy-prow-dry-run
      image: belitre/kubectl:latest

test-terraform-changes:
  decorate: true
  labels:
    preset-terraform: 'true'
  spec:
    serviceAccountName: prow
    containers:
    - name: test-terraform-changes
      imagePullPolicy: IfNotPresent
      command:
      - make
      args:
      - infra-plan
      image: hashicorp/terraform:0.12.7

test-prow-manifests-postsubmit:
  decorate: true
  spec:
    serviceAccountName: prow
    containers:
    - name: test-manifests
      imagePullPolicy: IfNotPresent
      command:
      - make
      args:
      - deploy-prow
      image: belitre/kubectl:latest

test-infra:
  decorate: true
  labels:
    preset-aws-ouzi: 'true'
  spec:
    containers:
    - name: test-infra
      imagePullPolicy: IfNotPresent
      command:
      - make
      args:
      - infra-setup
      - infra-plan
      image: quay.io/ouzi/toolbox:0.1.9

test-manifests:
  decorate: true
  labels:
    preset-aws-ouzi: 'true'
  spec:
    serviceAccountName: prow
    containers:
    - name: test-manifests
      imagePullPolicy: IfNotPresent
      command:
      - make
      args:
      - deploy-dry-run
      image: quay.io/ouzi/toolbox:0.1.9

monitoring:
  decorate: true
  spec:
    serviceAccountName: prow
    containers:
    - name: monitoring
      imagePullPolicy: IfNotPresent
      command:
      - make
      args:
      - monitoring-apply
      image: quay.io/ouzi/toolbox:0.1.9

apply-infra:
  decorate: true
  labels:
    preset-aws-ouzi: 'true'
  spec:
    containers:
    - name: apply-infra
      imagePullPolicy: IfNotPresent
      command:
      - make
      args:
      - infra-setup
      - infra-apply
      image: quay.io/ouzi/toolbox:0.1.9

fix: properly format new CRs
  cluster/04-cert-manager/manifests/post/02-clouddns-dns01-solver-svc-acct.yaml
  cluster/05-oauth-proxy/manifests/pre/02-secret.yaml
  cluster/08-prow/manifests/pre/02-credstashsecret.yaml
  cluster/09-build-secrets/manifests/pre/00-credstashsecret.yaml
Due: test-prow-manifests, test-prow-manifests-postsubmit, test-manifests, deploy-prow

fix: silence unecessary output
  cluster/Makefile
Due: test-manifests, deploy-prow

fix: removed un used secret
  cluster/values.yaml
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit, test-manifests, deploy-prow

feat: delete old credstash controller
  cluster/03-credstash-controller/manifests/pre/00-crd.yaml
  cluster/03-credstash-controller/manifests/pre/00-namespace.yaml
  cluster/03-credstash-controller/manifests/pre/01-rbac.yaml
  cluster/03-credstash-controller/manifests/pre/02-aws-secrets.yaml
  cluster/03-credstash-controller/manifests/pre/03-deployment.yaml
  cluster/03-credstash-controller/manifests_values.yaml.tpl
Due: test-manifests, deploy-prow

fix: get rid of all old secrets
  cluster/04-cert-manager/manifests/post/02-clouddns-dns01-solver-svc-acct.yaml
  cluster/05-oauth-proxy/manifests/pre/02-secret.yaml
  cluster/08-prow/manifests/pre/02-credstashsecret.yaml
  cluster/09-build-secrets/manifests/pre/00-credstashsecret.yaml
  cluster/Makefile
  cluster/values.yaml
Due: test-prow-manifests, test-prow-manifests-postsubmit, test-manifests, deploy-prow

feat: add new credstash operator (#70)
  cluster/03-credstash-controller/manifests/pre/00-crd.yaml
  cluster/03-credstash-controller/manifests/pre/01-rbac.yaml
  cluster/03-credstash-controller/manifests/pre/02-aws-secrets.yaml
  cluster/03-credstash-controller/manifests/pre/03-deployment.yaml
  cluster/03-credstash-controller/manifests_values.yaml.tpl
  cluster/04-cert-manager/manifests/post/02-clouddns-dns01-solver-svc-acct.yaml
  cluster/05-oauth-proxy/manifests/pre/02-secret.yaml
  cluster/08-prow/manifests/pre/02-credstashsecret.yaml
  cluster/09-build-secrets/manifests/pre/00-credstashsecret.yaml
  cluster/10-credstash-operator/helm_values.yaml.tpl
  cluster/10-credstash-operator/manifests/pre/01-namespace.yaml
  cluster/10-credstash-operator/manifests_values.yaml.tpl
  cluster/Makefile
  cluster/values.yaml
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit, test-prow-manifests, test-prow-manifests-postsubmit, test-manifests, deploy-prow

feat: add git secret scanner job
  config/jobs/ouzi-dev/ouzi-dev.yaml
Due: test-prow-config, test-config-postsubmit

feat: add prow job for new image
  config/jobs/ouzi-dev/whalers-of-the-moon/whalers_of_the_moon.yaml
Due: test-prow-config, test-config-postsubmit

feat: add git secret scanner job (#71)
  config/jobs/ouzi-dev/ouzi-dev.yaml
  config/jobs/ouzi-dev/whalers-of-the-moon/whalers_of_the_moon.yaml
Due: test-prow-config, test-config-postsubmit

feat: run on all repos
  config/jobs/ouzi-dev/ouzi-dev.yaml
Due: test-prow-config, test-config-postsubmit

feat: run on all repos (#72)
  config/jobs/ouzi-dev/ouzi-dev.yaml
Due: test-prow-config, test-config-postsubmit

feat: add nocreds check
  config/jobs/ouzi-dev/avro-kedavro/avro-kedavro-jobs.yaml
  config/jobs/ouzi-dev/bigbang/bigbang-jobs.yaml
  config/jobs/ouzi-dev/cannon-prow/cannon-prow-jobs.yaml
  config/jobs/ouzi-dev/credstash-operator/credstash_operator.yaml
  config/jobs/ouzi-dev/gke-terraform/gke-terraform-jobs.yaml
  config/jobs/ouzi-dev/ouzi-dev.yaml
  config/jobs/ouzi-dev/prow-gke-terraform/prow-gke-terraform-jobs.yaml
  config/jobs/ouzi-dev/prow-helm-chart/prow-helm-charts-jobs.yaml
  config/jobs/ouzi-dev/test-infra/test-infra-jobs.yaml
  config/jobs/ouzi-dev/whalers-of-the-moon/whalers_of_the_moon.yaml
Due: test-prow-config, test-config-postsubmit

fix: formatting
  config/jobs/ouzi-dev/credstash-operator/credstash_operator.yaml
  config/jobs/ouzi-dev/gke-terraform/gke-terraform-jobs.yaml
  config/jobs/ouzi-dev/whalers-of-the-moon/whalers_of_the_moon.yaml
Due: test-prow-config, test-config-postsubmit

feat: add nocreds check (#73)
  config/jobs/ouzi-dev/avro-kedavro/avro-kedavro-jobs.yaml
  config/jobs/ouzi-dev/bigbang/bigbang-jobs.yaml
  config/jobs/ouzi-dev/cannon-prow/cannon-prow-jobs.yaml
  config/jobs/ouzi-dev/credstash-operator/credstash_operator.yaml
  config/jobs/ouzi-dev/gke-terraform/gke-terraform-jobs.yaml
  config/jobs/ouzi-dev/ouzi-dev.yaml
  config/jobs/ouzi-dev/prow-gke-terraform/prow-gke-terraform-jobs.yaml
  config/jobs/ouzi-dev/prow-helm-chart/prow-helm-charts-jobs.yaml
  config/jobs/ouzi-dev/test-infra/test-infra-jobs.yaml
  config/jobs/ouzi-dev/whalers-of-the-moon/whalers_of_the_moon.yaml
Due: test-prow-config, test-config-postsubmit

feat: add ouzi.io under management
  config/jobs/ouzi-dev/ouzi.io/ouzi-io.yaml
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

feat: add ouzi.io under management (#74)
  config/jobs/ouzi-dev/ouzi.io/ouzi-io.yaml
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

feat: add missing repos
  config/jobs/ouzi-dev/avro-kedavro/avro-kedavro.yaml
  config/jobs/ouzi-dev/bigbang/bigbang.yaml
  config/jobs/ouzi-dev/cannon-prow/cannon-prow.yaml
  config/jobs/ouzi-dev/commit-status-updater/commit-status-updater.yaml
  config/jobs/ouzi-dev/dind-action/dind-action.yaml
  config/jobs/ouzi-dev/docs/docs.yaml
  config/jobs/ouzi-dev/eks-terraform/eks-terraform.yaml
  config/jobs/ouzi-dev/gke-terraform/gke-terraform.yaml
  config/jobs/ouzi-dev/go-make-action/go-make-action.yaml
  config/jobs/ouzi-dev/owners-template/owners-template.yaml
  config/jobs/ouzi-dev/prow-gke-terraform/prow-gke-terraform.yaml
  config/jobs/ouzi-dev/prow-helm-chart/prow-helm-charts.yaml
  config/jobs/ouzi-dev/syrinx/syrinx.yaml
  config/jobs/ouzi-dev/test-infra/test-infra.yaml
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

fix: wrong repo names
  config/jobs/ouzi-dev/dind-action/dind-action.yaml
  config/jobs/ouzi-dev/docs/docs.yaml
  config/jobs/ouzi-dev/eks-terraform/eks-terraform.yaml
  config/jobs/ouzi-dev/go-make-action/go-make-action.yaml
  config/jobs/ouzi-dev/owners-template/owners-template.yaml
  config/jobs/ouzi-dev/syrinx/syrinx.yaml
Due: test-prow-config, test-config-postsubmit

feat: add missing repos (#75)
  config/jobs/ouzi-dev/avro-kedavro/avro-kedavro.yaml
  config/jobs/ouzi-dev/bigbang/bigbang.yaml
  config/jobs/ouzi-dev/cannon-prow/cannon-prow.yaml
  config/jobs/ouzi-dev/commit-status-updater/commit-status-updater.yaml
  config/jobs/ouzi-dev/dind-action/dind-action.yaml
  config/jobs/ouzi-dev/docs/docs.yaml
  config/jobs/ouzi-dev/eks-terraform/eks-terraform.yaml
  config/jobs/ouzi-dev/gke-terraform/gke-terraform.yaml
  config/jobs/ouzi-dev/go-make-action/go-make-action.yaml
  config/jobs/ouzi-dev/owners-template/owners-template.yaml
  config/jobs/ouzi-dev/prow-gke-terraform/prow-gke-terraform.yaml
  config/jobs/ouzi-dev/prow-helm-chart/prow-helm-charts.yaml
  config/jobs/ouzi-dev/syrinx/syrinx.yaml
  config/jobs/ouzi-dev/test-infra/test-infra.yaml
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

bump: toolbox version
  config/jobs/ouzi-dev/cannon-prow/cannon-prow.yaml
  config/jobs/ouzi-dev/prow-helm-chart/prow-helm-charts.yaml
  config/jobs/ouzi-dev/test-infra/test-infra.yaml
Due: test-prow-config, test-config-postsubmit

bump: toolbox version (#76)
  config/jobs/ouzi-dev/cannon-prow/cannon-prow.yaml
  config/jobs/ouzi-dev/prow-helm-chart/prow-helm-charts.yaml
  config/jobs/ouzi-dev/test-infra/test-infra.yaml
Due: test-prow-config, test-config-postsubmit

feat: Manage hoarder-prow
  config/jobs/ouzi-dev/hoarder-prow/hoarder-prow.yaml
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

fix: use correct repo
  config/jobs/ouzi-dev/hoarder-prow/hoarder-prow.yaml
Due: test-prow-config, test-config-postsubmit

feat: add hoarder prow under prow management (#77)
  config/jobs/ouzi-dev/hoarder-prow/hoarder-prow.yaml
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

feat: add 4leaf aws creds
  cluster/values.yaml
Due: test-manifests, deploy-prow

feat: add 4leaf presets
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

feat: bootstrap hoarder prow (#78)
  cluster/values.yaml
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit, test-manifests, deploy-prow

feat: add new image to whalers of the moon builds
  config/jobs/ouzi-dev/whalers-of-the-moon/whalers_of_the_moon.yaml
Due: test-prow-config, test-config-postsubmit

feat: add new image to whalers of the moon builds (#79)
  config/jobs/ouzi-dev/whalers-of-the-moon/whalers_of_the_moon.yaml
Due: test-prow-config, test-config-postsubmit

feat: remove jobs that are now in the WotM repo
  config/jobs/ouzi-dev/whalers-of-the-moon/whalers_of_the_moon.yaml
Due: test-prow-config, test-config-postsubmit

feat: remove jobs that are now in the WotM repo (#80)
  config/jobs/ouzi-dev/whalers-of-the-moon/whalers_of_the_moon.yaml
Due: test-prow-config, test-config-postsubmit

feat: bump checkconfig version to latest and fix typo
  Makefile
  config/jobs/ouzi-dev/avro-kedavro/avro-kedavro.yaml
  config/jobs/ouzi-dev/bigbang/bigbang.yaml
  config/jobs/ouzi-dev/cannon-prow/cannon-prow.yaml
  config/jobs/ouzi-dev/commit-status-updater/commit-status-updater.yaml
  config/jobs/ouzi-dev/credstash-operator/credstash_operator.yaml
  config/jobs/ouzi-dev/dind-action/dind-action.yaml
  config/jobs/ouzi-dev/docs/docs.yaml
  config/jobs/ouzi-dev/eks-terraform/eks-terraform.yaml
  config/jobs/ouzi-dev/gke-terraform/gke-terraform.yaml
  config/jobs/ouzi-dev/go-make-action/go-make-action.yaml
  config/jobs/ouzi-dev/hoarder-prow/hoarder-prow.yaml
  config/jobs/ouzi-dev/ouzi.io/ouzi-io.yaml
  config/jobs/ouzi-dev/owners-template/owners-template.yaml
  config/jobs/ouzi-dev/prow-gke-terraform/prow-gke-terraform.yaml
  config/jobs/ouzi-dev/prow-helm-chart/prow-helm-charts.yaml
  config/jobs/ouzi-dev/syrinx/syrinx.yaml
  config/jobs/ouzi-dev/test-infra/test-infra.yaml
  config/jobs/ouzi-dev/whalers-of-the-moon/whalers_of_the_moon.yaml
Due: test-prow-config, test-config-postsubmit

fix: use correct checkconfig
  Makefile
  config/jobs/ouzi-dev/avro-kedavro/avro-kedavro.yaml
  config/jobs/ouzi-dev/bigbang/bigbang.yaml
  config/jobs/ouzi-dev/cannon-prow/cannon-prow.yaml
  config/jobs/ouzi-dev/commit-status-updater/commit-status-updater.yaml
  config/jobs/ouzi-dev/credstash-operator/credstash_operator.yaml
  config/jobs/ouzi-dev/dind-action/dind-action.yaml
  config/jobs/ouzi-dev/docs/docs.yaml
  config/jobs/ouzi-dev/eks-terraform/eks-terraform.yaml
  config/jobs/ouzi-dev/gke-terraform/gke-terraform.yaml
  config/jobs/ouzi-dev/go-make-action/go-make-action.yaml
  config/jobs/ouzi-dev/hoarder-prow/hoarder-prow.yaml
  config/jobs/ouzi-dev/ouzi.io/ouzi-io.yaml
  config/jobs/ouzi-dev/owners-template/owners-template.yaml
  config/jobs/ouzi-dev/prow-gke-terraform/prow-gke-terraform.yaml
  config/jobs/ouzi-dev/prow-helm-chart/prow-helm-charts.yaml
  config/jobs/ouzi-dev/syrinx/syrinx.yaml
  config/jobs/ouzi-dev/test-infra/test-infra.yaml
  config/jobs/ouzi-dev/whalers-of-the-moon/whalers_of_the_moon.yaml
Due: test-prow-config, test-config-postsubmit

fix: use correct checkconfig (#81)
  Makefile
  config/jobs/ouzi-dev/avro-kedavro/avro-kedavro.yaml
  config/jobs/ouzi-dev/bigbang/bigbang.yaml
  config/jobs/ouzi-dev/cannon-prow/cannon-prow.yaml
  config/jobs/ouzi-dev/commit-status-updater/commit-status-updater.yaml
  config/jobs/ouzi-dev/credstash-operator/credstash_operator.yaml
  config/jobs/ouzi-dev/dind-action/dind-action.yaml
  config/jobs/ouzi-dev/docs/docs.yaml
  config/jobs/ouzi-dev/eks-terraform/eks-terraform.yaml
  config/jobs/ouzi-dev/gke-terraform/gke-terraform.yaml
  config/jobs/ouzi-dev/go-make-action/go-make-action.yaml
  config/jobs/ouzi-dev/hoarder-prow/hoarder-prow.yaml
  config/jobs/ouzi-dev/ouzi.io/ouzi-io.yaml
  config/jobs/ouzi-dev/owners-template/owners-template.yaml
  config/jobs/ouzi-dev/prow-gke-terraform/prow-gke-terraform.yaml
  config/jobs/ouzi-dev/prow-helm-chart/prow-helm-charts.yaml
  config/jobs/ouzi-dev/syrinx/syrinx.yaml
  config/jobs/ouzi-dev/test-infra/test-infra.yaml
  config/jobs/ouzi-dev/whalers-of-the-moon/whalers_of_the_moon.yaml
Due: test-prow-config, test-config-postsubmit

fix: credstash operator jobs
  config/jobs/ouzi-dev/credstash-operator/credstash_operator.yaml
Due: test-prow-config, test-config-postsubmit

fix: credstash operator jobs (#82)
  config/jobs/ouzi-dev/credstash-operator/credstash_operator.yaml
Due: test-prow-config, test-config-postsubmit

fix: silly change to trigger config rebuild
  config/jobs/ouzi-dev/credstash-operator/credstash_operator.yaml
Due: test-prow-config, test-config-postsubmit

fix: silly change to trigger config rebuild (#83)
  config/jobs/ouzi-dev/credstash-operator/credstash_operator.yaml
Due: test-prow-config, test-config-postsubmit

Path conditions:
  test-prow-config: any of: ^(config/.*|prow/.*)$
  monitoring-dry-run: any of: monitoring/
  test-config-postsubmit: any of: ^(config/.*|prow/.*)$
  test-prow-manifests: any of: prow/manifests/
  test-terraform-changes: any of: infrastructure/
  test-prow-manifests-postsubmit: any of: prow/manifests/
  test-infra: any of: ^(infrastructure/.*)$
  test-manifests: any of: ^(cluster/.*)$
  monitoring: any of: monitoring/
  apply-infra: any of: ^(infrastructure/.*)$
  deploy-prow: any of: ^(cluster/.*)$
