Repository ouzi-dev/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: test-prow-config, monitoring-dry-run, test-config-postsubmit, test-prow-manifests, test-terraform-changes, test-prow-manifests-postsubmit, test-infra, test-manifests, monitoring, apply-infra, deploy-prow

Path conditions:
  test-prow-config: any of: ^(config/.*|prow/.*)$
  monitoring-dry-run: any of: monitoring/
  test-config-postsubmit: any of: ^(config/.*|prow/.*)$
  test-prow-manifests: any of: prow/manifests/
  test-terraform-changes: any of: infrastructure/
  test-prow-manifests-postsubmit: any of: prow/manifests/
  test-infra: any of: ^(infrastructure/.*)$
  test-manifests: any of: ^(cluster/.*)$
  monitoring: any of: monitoring/
  apply-infra: any of: ^(infrastructure/.*)$
  deploy-prow: any of: ^(cluster/.*)$

fix: latest prow installer with secret fix
  cluster/Makefile
Due: test-manifests, deploy-prow

fix: remove tf detailed exit status
  infrastructure/Makefile
Due: test-terraform-changes, test-infra, apply-infra

feat: add surge support on node upgrades (#92)
  cluster/Makefile
  infrastructure/Makefile
  infrastructure/main.tf
Due: test-terraform-changes, test-infra, test-manifests, apply-infra, deploy-prow

fix: bump prow installer
  cluster/Makefile
Due: test-manifests, deploy-prow

fix: reduce number of zones to 2
  infrastructure/main.tf
  infrastructure/terraform.tfvars
  infrastructure/variables.tf
Due: test-terraform-changes, test-infra, apply-infra

fix: upgrade prow installer (#93)
  cluster/Makefile
  infrastructure/main.tf
  infrastructure/terraform.tfvars
  infrastructure/variables.tf
Due: test-terraform-changes, test-infra, test-manifests, apply-infra, deploy-prow

fix: trigger a label config redeployment
  prow/labels.yaml
Due: test-prow-config, test-config-postsubmit

fix: trigger a label config redeployment (#94)
  prow/labels.yaml
Due: test-prow-config, test-config-postsubmit

fix: bump toolbox
  config/jobs/ouzi-dev/prow-helm-chart/prow-helm-charts.yaml
  config/jobs/ouzi-dev/test-infra/test-infra.yaml
Due: test-prow-config, test-config-postsubmit

fix: bump toolbox (#96)
  config/jobs/ouzi-dev/prow-helm-chart/prow-helm-charts.yaml
  config/jobs/ouzi-dev/test-infra/test-infra.yaml
Due: test-prow-config, test-config-postsubmit

feat: create target to print quay encrypted creds
  infrastructure/Makefile
Due: test-terraform-changes, test-infra, apply-infra

feat: add kms ring and key for build secrets
  infrastructure/README.md
  infrastructure/main.tf
Due: test-terraform-changes, test-infra, apply-infra

fix: make sure the kms api is enabled
  infrastructure/main.tf
Due: test-terraform-changes, test-infra, apply-infra

feat: add required perms to service account
  infrastructure/main.tf
Due: test-terraform-changes, test-infra, apply-infra

fix: remove profile
  infrastructure/Makefile
Due: test-terraform-changes, test-infra, apply-infra

feat: add kms ring and key for build secrets (#95)
  infrastructure/Makefile
  infrastructure/README.md
  infrastructure/main.tf
Due: test-terraform-changes, test-infra, apply-infra

feat: manage gcloud svc account
  infrastructure/Makefile
  infrastructure/outputs.tf
Due: test-terraform-changes, test-infra, apply-infra

feat: add service account credstash secret
  cluster/values.yaml
Due: test-manifests, deploy-prow

feat: add presets and refresh labels
  prow/config.yaml
  prow/labels.yaml
Due: test-prow-config, test-config-postsubmit

feat: add svc for google cloud (#97)
  cluster/values.yaml
  infrastructure/Makefile
  infrastructure/outputs.tf
  prow/config.yaml
  prow/labels.yaml
Due: test-prow-config, test-config-postsubmit, test-terraform-changes, test-infra, test-manifests, apply-infra, deploy-prow

fix: rename gcloud prow svc preset
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

fix: rename gcloud prow svc preset (#98)
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

feat: add support for dockerconfig credstash secrets
  cluster/Makefile
  cluster/values.yaml
Due: test-manifests, deploy-prow

feat: remove optional credstash keys
  cluster/Makefile
  cluster/values.yaml
Due: test-manifests, deploy-prow

fix: put back init
  cluster/Makefile
Due: test-manifests, deploy-prow

feat: upgrade prow installer (#99)
  cluster/Makefile
  cluster/values.yaml
Due: test-manifests, deploy-prow

feat: add new repos upder prow management
  config/jobs/ouzi-dev/claptrap/claptrap.yaml
  config/jobs/ouzi-dev/node-tagger/node-tagger.yaml
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

feat: add new repos upder prow management (#100)
  config/jobs/ouzi-dev/claptrap/claptrap.yaml
  config/jobs/ouzi-dev/node-tagger/node-tagger.yaml
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

feat: delete prow helm chart jobs
  config/jobs/ouzi-dev/prow-helm-chart/prow-helm-charts.yaml
Due: test-prow-config, test-config-postsubmit

feat: delete prow helm chart jobs (#101)
  config/jobs/ouzi-dev/prow-helm-chart/prow-helm-charts.yaml
Due: test-prow-config, test-config-postsubmit

fix: update avro-kedavro go docker image
  config/jobs/ouzi-dev/avro-kedavro/avro-kedavro.yaml
Due: test-prow-config, test-config-postsubmit

fix: update go-builder version everywhere
  config/jobs/ouzi-dev/bigbang/bigbang.yaml
  config/jobs/ouzi-dev/gke-terraform/gke-terraform.yaml
  config/jobs/ouzi-dev/prow-gke-terraform/prow-gke-terraform.yaml
Due: test-prow-config, test-config-postsubmit

fix: update go-builder image (#102)
  config/jobs/ouzi-dev/avro-kedavro/avro-kedavro.yaml
  config/jobs/ouzi-dev/bigbang/bigbang.yaml
  config/jobs/ouzi-dev/gke-terraform/gke-terraform.yaml
  config/jobs/ouzi-dev/prow-gke-terraform/prow-gke-terraform.yaml
Due: test-prow-config, test-config-postsubmit

feat: use latest prow tf module
  infrastructure/main.tf
Due: test-terraform-changes, test-infra, apply-infra

feat: use latest prow installer
  cluster/Makefile
Due: test-manifests, deploy-prow

feat: add tolerations to all jobs
  config/jobs/ouzi-dev/avro-kedavro/avro-kedavro.yaml
  config/jobs/ouzi-dev/bigbang/bigbang.yaml
  config/jobs/ouzi-dev/claptrap/claptrap.yaml
  config/jobs/ouzi-dev/commit-status-updater/commit-status-updater.yaml
  config/jobs/ouzi-dev/credstash-operator/credstash_operator.yaml
  config/jobs/ouzi-dev/dind-action/dind-action.yaml
  config/jobs/ouzi-dev/docs/docs.yaml
  config/jobs/ouzi-dev/eks-terraform/eks-terraform.yaml
  config/jobs/ouzi-dev/gke-terraform/gke-terraform.yaml
  config/jobs/ouzi-dev/go-make-action/go-make-action.yaml
  config/jobs/ouzi-dev/hoarder-prow/hoarder-prow.yaml
  config/jobs/ouzi-dev/node-tagger/node-tagger.yaml
  config/jobs/ouzi-dev/ouzi.io/ouzi-io.yaml
  config/jobs/ouzi-dev/owners-template/owners-template.yaml
  config/jobs/ouzi-dev/prow-gke-terraform/prow-gke-terraform.yaml
  config/jobs/ouzi-dev/prow-helm-chart/prow-helm-charts.yaml
  config/jobs/ouzi-dev/prow-installer/prow-installer.yaml
  config/jobs/ouzi-dev/syrinx/syrinx.yaml
  config/jobs/ouzi-dev/test-infra/test-infra.yaml
  config/jobs/ouzi-dev/whalers-of-the-moon/whalers_of_the_moon.yaml
Due: test-prow-config, test-config-postsubmit

fix: bump prow tf module
  infrastructure/main.tf
Due: test-terraform-changes, test-infra, apply-infra

fix: fmt
  infrastructure/main.tf
  infrastructure/outputs.tf
  infrastructure/terraform.tfvars
Due: test-terraform-changes, test-infra, apply-infra

feat: turn on node pool autoprovisioning (#103)
  cluster/Makefile
  config/jobs/ouzi-dev/avro-kedavro/avro-kedavro.yaml
  config/jobs/ouzi-dev/bigbang/bigbang.yaml
  config/jobs/ouzi-dev/claptrap/claptrap.yaml
  config/jobs/ouzi-dev/commit-status-updater/commit-status-updater.yaml
  config/jobs/ouzi-dev/credstash-operator/credstash_operator.yaml
  config/jobs/ouzi-dev/dind-action/dind-action.yaml
  config/jobs/ouzi-dev/docs/docs.yaml
  config/jobs/ouzi-dev/eks-terraform/eks-terraform.yaml
  config/jobs/ouzi-dev/gke-terraform/gke-terraform.yaml
  config/jobs/ouzi-dev/go-make-action/go-make-action.yaml
  config/jobs/ouzi-dev/hoarder-prow/hoarder-prow.yaml
  config/jobs/ouzi-dev/node-tagger/node-tagger.yaml
  config/jobs/ouzi-dev/ouzi.io/ouzi-io.yaml
  config/jobs/ouzi-dev/owners-template/owners-template.yaml
  config/jobs/ouzi-dev/prow-gke-terraform/prow-gke-terraform.yaml
  config/jobs/ouzi-dev/prow-helm-chart/prow-helm-charts.yaml
  config/jobs/ouzi-dev/prow-installer/prow-installer.yaml
  config/jobs/ouzi-dev/syrinx/syrinx.yaml
  config/jobs/ouzi-dev/test-infra/test-infra.yaml
  config/jobs/ouzi-dev/whalers-of-the-moon/whalers_of_the_moon.yaml
  infrastructure/main.tf
  infrastructure/outputs.tf
  infrastructure/terraform.tfvars
Due: test-prow-config, test-config-postsubmit, test-terraform-changes, test-infra, test-manifests, apply-infra, deploy-prow
