Repository ouzi-dev/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: test-prow-config, monitoring-dry-run, test-config-postsubmit, test-prow-manifests, test-terraform-changes, test-prow-manifests-postsubmit, test-infra, test-manifests, monitoring, apply-infra, deploy-prow

Path conditions:
  test-prow-config: any of: ^(config/.*|prow/.*)$
  monitoring-dry-run: any of: monitoring/
  test-config-postsubmit: any of: ^(config/.*|prow/.*)$
  test-prow-manifests: any of: prow/manifests/
  test-terraform-changes: any of: infrastructure/
  test-prow-manifests-postsubmit: any of: prow/manifests/
  test-infra: any of: ^(infrastructure/.*)$
  test-manifests: any of: ^(cluster/.*)$
  monitoring: any of: monitoring/
  apply-infra: any of: ^(infrastructure/.*)$
  deploy-prow: any of: ^(cluster/.*)$

feat: remove entrypoint (#139)
  config/jobs/ouzi-dev/avro-kedavro/avro-kedavro.yaml
  config/jobs/ouzi-dev/bigbang/bigbang.yaml
  config/jobs/ouzi-dev/chart-museum-deploy/chart-museum-deploy.yaml
  config/jobs/ouzi-dev/claptrap/claptrap.yaml
  config/jobs/ouzi-dev/commit-status-updater/commit-status-updater.yaml
  config/jobs/ouzi-dev/credstash-operator/credstash_operator.yaml
  config/jobs/ouzi-dev/dind-action/dind-action.yaml
  config/jobs/ouzi-dev/docs/docs.yaml
  config/jobs/ouzi-dev/eks-terraform/eks-terraform.yaml
  config/jobs/ouzi-dev/gke-terraform/gke-terraform.yaml
  config/jobs/ouzi-dev/go-make-action/go-make-action.yaml
  config/jobs/ouzi-dev/hoarder-prow/hoarder-prow.yaml
  config/jobs/ouzi-dev/k8sprimitives1/k8sprimitives1.yaml
  config/jobs/ouzi-dev/needs-retitle/needs-retitle.yaml
  config/jobs/ouzi-dev/node-tagger/node-tagger.yaml
  config/jobs/ouzi-dev/owners-template/owners-template.yaml
  config/jobs/ouzi-dev/prow-gke-terraform/prow-gke-terraform.yaml
  config/jobs/ouzi-dev/prow-helm-chart/prow-helm-charts.yaml
  config/jobs/ouzi-dev/prow-installer/prow-installer.yaml
  config/jobs/ouzi-dev/syrinx/syrinx.yaml
  config/jobs/ouzi-dev/test-infra/test-infra.yaml
  config/jobs/ouzi-dev/whalers-of-the-moon/whalers_of_the_moon.yaml
Due: test-prow-config, test-config-postsubmit

feat: update checkconfig job for test infra
  config/jobs/ouzi-dev/test-infra/test-infra.yaml
Due: test-prow-config, test-config-postsubmit

feat: update checkconfig job for singularity prow
  config/jobs/ouzi-dev/hoarder-prow/hoarder-prow.yaml
Due: test-prow-config, test-config-postsubmit

feat: try latest image again
  cluster/migrate.sh
  config/jobs/ouzi-dev/test-infra/test-infra.yaml
Due: test-prow-config, test-config-postsubmit, test-manifests, deploy-prow

feat: try latest image again
  config/jobs/ouzi-dev/hoarder-prow/hoarder-prow.yaml
Due: test-prow-config, test-config-postsubmit

feat: delete script
  cluster/migrate.sh
Due: test-manifests, deploy-prow

feat: update checkconfig3 (#140)
  config/jobs/ouzi-dev/hoarder-prow/hoarder-prow.yaml
  config/jobs/ouzi-dev/test-infra/test-infra.yaml
Due: test-prow-config, test-config-postsubmit

feat: try latest image again (#141)
  config/jobs/ouzi-dev/hoarder-prow/hoarder-prow.yaml
Due: test-prow-config, test-config-postsubmit

feat: fix prowjobs to use correct cmd for checkconfig and update cred check to latest
  config/jobs/ouzi-dev/avro-kedavro/avro-kedavro.yaml
  config/jobs/ouzi-dev/bigbang/bigbang.yaml
  config/jobs/ouzi-dev/chart-museum-deploy/chart-museum-deploy.yaml
  config/jobs/ouzi-dev/claptrap/claptrap.yaml
  config/jobs/ouzi-dev/commit-status-updater/commit-status-updater.yaml
  config/jobs/ouzi-dev/credstash-operator/credstash_operator.yaml
  config/jobs/ouzi-dev/dind-action/dind-action.yaml
  config/jobs/ouzi-dev/docs/docs.yaml
  config/jobs/ouzi-dev/eks-terraform/eks-terraform.yaml
  config/jobs/ouzi-dev/gke-terraform/gke-terraform.yaml
  config/jobs/ouzi-dev/go-make-action/go-make-action.yaml
  config/jobs/ouzi-dev/hoarder-prow/hoarder-prow.yaml
  config/jobs/ouzi-dev/k8sprimitives1/k8sprimitives1.yaml
  config/jobs/ouzi-dev/needs-retitle/needs-retitle.yaml
  config/jobs/ouzi-dev/node-tagger/node-tagger.yaml
  config/jobs/ouzi-dev/owners-template/owners-template.yaml
  config/jobs/ouzi-dev/prow-gke-terraform/prow-gke-terraform.yaml
  config/jobs/ouzi-dev/prow-helm-chart/prow-helm-charts.yaml
  config/jobs/ouzi-dev/prow-installer/prow-installer.yaml
  config/jobs/ouzi-dev/syrinx/syrinx.yaml
  config/jobs/ouzi-dev/test-infra/test-infra.yaml
  config/jobs/ouzi-dev/whalers-of-the-moon/whalers_of_the_moon.yaml
Due: test-prow-config, test-config-postsubmit

feat: fix prowjobs to use correct cmd for checkconfig and update cred check to latest (#142)
  config/jobs/ouzi-dev/avro-kedavro/avro-kedavro.yaml
  config/jobs/ouzi-dev/bigbang/bigbang.yaml
  config/jobs/ouzi-dev/chart-museum-deploy/chart-museum-deploy.yaml
  config/jobs/ouzi-dev/claptrap/claptrap.yaml
  config/jobs/ouzi-dev/commit-status-updater/commit-status-updater.yaml
  config/jobs/ouzi-dev/credstash-operator/credstash_operator.yaml
  config/jobs/ouzi-dev/dind-action/dind-action.yaml
  config/jobs/ouzi-dev/docs/docs.yaml
  config/jobs/ouzi-dev/eks-terraform/eks-terraform.yaml
  config/jobs/ouzi-dev/gke-terraform/gke-terraform.yaml
  config/jobs/ouzi-dev/go-make-action/go-make-action.yaml
  config/jobs/ouzi-dev/hoarder-prow/hoarder-prow.yaml
  config/jobs/ouzi-dev/k8sprimitives1/k8sprimitives1.yaml
  config/jobs/ouzi-dev/needs-retitle/needs-retitle.yaml
  config/jobs/ouzi-dev/node-tagger/node-tagger.yaml
  config/jobs/ouzi-dev/owners-template/owners-template.yaml
  config/jobs/ouzi-dev/prow-gke-terraform/prow-gke-terraform.yaml
  config/jobs/ouzi-dev/prow-helm-chart/prow-helm-charts.yaml
  config/jobs/ouzi-dev/prow-installer/prow-installer.yaml
  config/jobs/ouzi-dev/syrinx/syrinx.yaml
  config/jobs/ouzi-dev/test-infra/test-infra.yaml
  config/jobs/ouzi-dev/whalers-of-the-moon/whalers_of_the_moon.yaml
Due: test-prow-config, test-config-postsubmit

feat: update prow installer to latest
  Makefile
  cluster/Makefile
Due: test-manifests, deploy-prow

feat: update prow installer to latest (#143)
  Makefile
  cluster/Makefile
Due: test-manifests, deploy-prow

feat: update to latest prow
  cluster/Makefile
Due: test-manifests, deploy-prow

feat: update to latest prow (#144)
  cluster/Makefile
Due: test-manifests, deploy-prow

feat: update prow chart to latest
  cluster/Makefile
Due: test-manifests, deploy-prow

fix: bump chart version
  cluster/Makefile
Due: test-manifests, deploy-prow

feat: update prow chart to latest (#145)
  cluster/Makefile
Due: test-manifests, deploy-prow

feat: remove prow jobs for commit-status-updater
  config/jobs/ouzi-dev/commit-status-updater/commit-status-updater.yaml
Due: test-prow-config, test-config-postsubmit

feat: remove prow jobs for commit-status-updater (#146)
  config/jobs/ouzi-dev/commit-status-updater/commit-status-updater.yaml
Due: test-prow-config, test-config-postsubmit
