Repository ouzi-dev/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: test-prow-config, monitoring-dry-run, test-config-postsubmit, test-prow-manifests, test-terraform-changes, test-prow-manifests-postsubmit, monitoring

test-prow-config:
  decorate: true
  spec:
    containers:
    - name: test-config
      imagePullPolicy: IfNotPresent
      command:
      - checkconfig
      args:
      - --config-path=prow/config.yaml
      - --plugin-config=prow/plugins.yaml
      - --job-config-path=config/jobs
      image: belitre/checkconfig:latest

monitoring-dry-run:
  decorate: true
  spec:
    containers:
    - name: monitoring-dry-run
      imagePullPolicy: IfNotPresent
      command:
      - make
      args:
      - monitoring-dry-run
      image: quay.io/ouzi/toolbox:0.1.2

test-config-postsubmit:
  decorate: true
  spec:
    containers:
    - name: test-config
      imagePullPolicy: IfNotPresent
      command:
      - checkconfig
      args:
      - --config-path=prow/config.yaml
      - --plugin-config=prow/plugins.yaml
      - --job-config-path=config/jobs
      image: belitre/checkconfig:latest

test-prow-manifests:
  decorate: true
  spec:
    serviceAccountName: prow
    containers:
    - name: test-manifests
      imagePullPolicy: IfNotPresent
      command:
      - make
      args:
      - deploy-prow-dry-run
      image: belitre/kubectl:latest

test-terraform-changes:
  decorate: true
  labels:
    preset-terraform: 'true'
  spec:
    serviceAccountName: prow
    containers:
    - name: test-terraform-changes
      imagePullPolicy: IfNotPresent
      command:
      - make
      args:
      - infra-plan
      image: hashicorp/terraform:0.12.7

test-prow-manifests-postsubmit:
  decorate: true
  spec:
    serviceAccountName: prow
    containers:
    - name: test-manifests
      imagePullPolicy: IfNotPresent
      command:
      - make
      args:
      - deploy-prow
      image: belitre/kubectl:latest

monitoring:
  decorate: true
  spec:
    serviceAccountName: prow
    containers:
    - name: monitoring
      imagePullPolicy: IfNotPresent
      command:
      - make
      args:
      - monitoring-apply
      image: quay.io/ouzi/toolbox:helm-v2.14.3

feat: add clone uri as needed
  config/jobs/ouzi-dev/whalers-of-the-moon/whalers_of_the_moon.yaml
Due: test-prow-config, test-config-postsubmit

fix: use nodeselector for affinity
  config/jobs/ouzi-dev/whalers-of-the-moon/whalers_of_the_moon.yaml
  infrastructure/main.tf
Due: test-prow-config, test-config-postsubmit, test-terraform-changes

feat: add tolerations to whallers of the moon jobs (#56)
  config/jobs/ouzi-dev/whalers-of-the-moon/whalers_of_the_moon.yaml
  infrastructure/main.tf
Due: test-prow-config, test-config-postsubmit, test-terraform-changes

feat: new job athenacli image push
  config/jobs/ouzi-dev/whalers-of-the-moon/whalers_of_the_moon.yaml
Due: test-prow-config, test-config-postsubmit

feat: new job athenacli image push (#57)
  config/jobs/ouzi-dev/whalers-of-the-moon/whalers_of_the_moon.yaml
Due: test-prow-config, test-config-postsubmit

Update config.yaml
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

Update config.yaml (#58)
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

feat: add the credstash operator to prow
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

feat: add the credstash operator to prow (#59)
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

feat: bump to latest prow -v0.5.0
  cluster/Makefile
Due: none

feat: bump to latest prow -v0.5.0 (#60)
  cluster/Makefile
Due: none

feat: bump to latest prow -v0.5.1
  cluster/Makefile
Due: none

feat: bump to latest prow -v0.5.1 (#61)
  cluster/Makefile
Due: none

feat: enable in repo policy
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

feat: udate checkconfig image
  config/jobs/ouzi-dev/test-infra/test-infra-jobs.yaml
Due: test-prow-config, test-config-postsubmit

feat: add prow yaml validate for all repos
  config/jobs/ouzi-dev/ouzi-dev.yaml
Due: test-prow-config, test-config-postsubmit

feat: update to latest checkconfig
  Makefile
  config/jobs/ouzi-dev/test-infra/test-infra-jobs.yaml
Due: test-prow-config, test-config-postsubmit

fix: validte prow yaml always
  config/jobs/ouzi-dev/ouzi-dev.yaml
Due: test-prow-config, test-config-postsubmit

fix: checkconfig image name
  config/jobs/ouzi-dev/test-infra/test-infra-jobs.yaml
Due: test-prow-config, test-config-postsubmit

feat: enable in repo config (#62)
  Makefile
  config/jobs/ouzi-dev/ouzi-dev.yaml
  config/jobs/ouzi-dev/test-infra/test-infra-jobs.yaml
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

fix: enable for all repos
  config/jobs/ouzi-dev/ouzi-dev.yaml
Due: test-prow-config, test-config-postsubmit

fix: update to pr_status_base_urls
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

fix: update to new slack reporter
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

fix: enable for all repos (#63)
  config/jobs/ouzi-dev/ouzi-dev.yaml
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

feat: bump prow helm chart to v0.6.0
  cluster/Makefile
Due: none

feat: bump prow helm chart to v0.6.0 (#64)
  cluster/Makefile
Due: none

fix: rename jobs
  config/jobs/ouzi-dev/test-infra/test-infra-jobs.yaml
Due: test-prow-config, test-config-postsubmit

fix: rename jobs (#65)
  config/jobs/ouzi-dev/test-infra/test-infra-jobs.yaml
Due: test-prow-config, test-config-postsubmit

fix: update to helm chart 0.6.4
  cluster/Makefile
Due: none

fix: update to helm chart 0.6.4 (#66)
  cluster/Makefile
Due: none

use new version of prow chart
  cluster/Makefile
Due: none

fix: enable lenses in spyglass
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

fix: enable lenses in spyglass (#67)
  cluster/Makefile
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

fix: add org in job url
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

fix: update job url from k8s testinfra
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

fix: add org in job url (#68)
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

fix: remove extra quote
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

fix: update job url from k8s testinfra (#69)
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

feat: initial testing run to deploying new operator
  cluster/04-cert-manager/manifests/post/02-clouddns-dns01-solver-svc-acct.yaml
  cluster/05-oauth-proxy/manifests/pre/02-secret.yaml
  cluster/08-prow/manifests/pre/02-credstashsecret.yaml
  cluster/09-build-secrets/manifests/pre/00-credstashsecret.yaml
  cluster/10-credstash-operator/helm_values.yaml.tpl
  cluster/10-credstash-operator/manifests/pre/01-namespace.yaml
  cluster/10-credstash-operator/manifests_values.yaml.tpl
  cluster/Makefile
  cluster/values.yaml
Due: test-prow-manifests, test-prow-manifests-postsubmit

Path conditions:
  test-prow-config: any of: ^(config/.*|prow/.*)$
  monitoring-dry-run: any of: monitoring/
  test-config-postsubmit: any of: ^(config/.*|prow/.*)$
  test-prow-manifests: any of: prow/manifests/
  test-terraform-changes: any of: infrastructure/
  test-prow-manifests-postsubmit: any of: prow/manifests/
  monitoring: any of: monitoring/
