Repository ouzi-dev/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: test-prow-config, monitoring-dry-run, test-config-postsubmit, test-prow-manifests, test-terraform-changes, test-prow-manifests-postsubmit, monitoring

test-prow-config:
  decorate: true
  spec:
    containers:
    - name: test-config
      imagePullPolicy: IfNotPresent
      command:
      - checkconfig
      args:
      - --config-path=prow/config.yaml
      - --plugin-config=prow/plugins.yaml
      - --job-config-path=config/jobs
      image: belitre/checkconfig:latest

monitoring-dry-run:
  decorate: true
  spec:
    containers:
    - name: monitoring-dry-run
      imagePullPolicy: IfNotPresent
      command:
      - make
      args:
      - monitoring-dry-run
      image: quay.io/ouzi/toolbox:0.1.2

test-config-postsubmit:
  decorate: true
  spec:
    containers:
    - name: test-config
      imagePullPolicy: IfNotPresent
      command:
      - checkconfig
      args:
      - --config-path=prow/config.yaml
      - --plugin-config=prow/plugins.yaml
      - --job-config-path=config/jobs
      image: belitre/checkconfig:latest

test-prow-manifests:
  decorate: true
  spec:
    serviceAccountName: prow
    containers:
    - name: test-manifests
      imagePullPolicy: IfNotPresent
      command:
      - make
      args:
      - deploy-prow-dry-run
      image: belitre/kubectl:latest

test-terraform-changes:
  decorate: true
  labels:
    preset-terraform: 'true'
  spec:
    serviceAccountName: prow
    containers:
    - name: test-terraform-changes
      imagePullPolicy: IfNotPresent
      command:
      - make
      args:
      - infra-plan
      image: hashicorp/terraform:0.12.7

test-prow-manifests-postsubmit:
  decorate: true
  spec:
    serviceAccountName: prow
    containers:
    - name: test-manifests
      imagePullPolicy: IfNotPresent
      command:
      - make
      args:
      - deploy-prow
      image: belitre/kubectl:latest

monitoring:
  decorate: true
  spec:
    serviceAccountName: prow
    containers:
    - name: monitoring
      imagePullPolicy: IfNotPresent
      command:
      - make
      args:
      - monitoring-apply
      image: quay.io/ouzi/toolbox:helm-v2.14.3

fix: trigger reload of jobs (#47)
  config/jobs/ouzi-dev/avro-kedavro/avro-kedavro-jobs.yaml
  config/jobs/ouzi-dev/bigbang/bigbang-jobs.yaml
  config/jobs/ouzi-dev/cannon-prow/cannon-prow-jobs.yaml
  config/jobs/ouzi-dev/gke-terraform/gke-terraform-jobs.yaml
  config/jobs/ouzi-dev/prow-gke-terraform/prow-gke-terraform-jobs.yaml
  config/jobs/ouzi-dev/prow-helm-chart/prow-helm-charts-jobs.yaml
  config/jobs/ouzi-dev/whalers-of-the-moon/whalers_of_the_moon.yaml
Due: test-prow-config, test-config-postsubmit

fix: add dockerconfig
  cluster/values.yaml
Due: none

fix: add dockerconfig (#48)
  cluster/values.yaml
Due: none

fix: rbac
  Makefile
  cluster/08-prow/manifests/pre/03-serviceaccount.yaml
Due: test-prow-manifests, test-prow-manifests-postsubmit

fix: remove tabs
  cluster/08-prow/manifests/pre/03-serviceaccount.yaml
Due: test-prow-manifests, test-prow-manifests-postsubmit

feat: fix rbac for deployments (#50)
  Makefile
  cluster/08-prow/manifests/pre/03-serviceaccount.yaml
Due: test-prow-manifests, test-prow-manifests-postsubmit

fix: use correct annotation for ssl-redirect
  cluster/05-oauth-proxy/manifests/pre/06-ingress.yaml
  monitoring/grafana/values.yaml
  monitoring/manifests/expose/alertmanager-ingress.yaml
  monitoring/manifests/expose/prometheus-ingress.yaml
Due: monitoring-dry-run, monitoring

fix: add goose plugin
  prow/plugins.yaml
Due: test-prow-config, test-config-postsubmit

fix: use helm3
  config/jobs/ouzi-dev/test-infra/test-infra-jobs.yaml
  monitoring/Makefile
Due: test-prow-config, monitoring-dry-run, test-config-postsubmit, monitoring

fix: another fix for helm3
  monitoring/Makefile
Due: monitoring-dry-run, monitoring

fix: add correct repo
  monitoring/Makefile
Due: monitoring-dry-run, monitoring

fix correct format for wait
  monitoring/Makefile
Due: monitoring-dry-run, monitoring

fix: use correct annotation for ssl-redirect (#49)
  cluster/05-oauth-proxy/manifests/pre/06-ingress.yaml
  config/jobs/ouzi-dev/test-infra/test-infra-jobs.yaml
  monitoring/Makefile
  monitoring/grafana/values.yaml
  monitoring/manifests/expose/alertmanager-ingress.yaml
  monitoring/manifests/expose/prometheus-ingress.yaml
  prow/plugins.yaml
Due: test-prow-config, monitoring-dry-run, test-config-postsubmit, monitoring

fix: remove deprecated job_url_prefix and allow_cancellations, only protect master
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

fix: add local test config target
  Makefile
Due: none

fix: add all repos explicitly
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

fix: add github action check to test
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

fix: remove unused label
  Makefile
  config/jobs/ouzi-dev/prow-helm-chart/prow-helm-charts-jobs.yaml
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

fix: revert tide settings
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

fix: remove unused label (#52)
  Makefile
  config/jobs/ouzi-dev/prow-helm-chart/prow-helm-charts-jobs.yaml
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

fix: bump prow version
  cluster/Makefile
Due: none

fix: bump prow version (#53)
  cluster/Makefile
Due: none

fix: unkown context is required
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

fix: add testing repo to check tide does not merge when a github action is running
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

add commit status updater repo
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

fix typo
  Makefile
Due: none

Feat: fix tide config to check all contexts (#51)
  Makefile
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

feat: auto deploy cluster on merge
  Makefile
  cluster/values.yaml
  config/jobs/ouzi-dev/test-infra/test-infra-jobs.yaml
  infrastructure/Makefile
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit, test-terraform-changes

fix: use https for tf module
  infrastructure/main.tf
Due: test-terraform-changes

fix: install helm plugin only if not present
  cluster/Makefile
Due: none

fix: install helm plugin only if not present
  Makefile
Due: none

fix: install helm plugin only if not present
  Makefile
  cluster/Makefile
Due: none

fix: use latest toolbox
  config/jobs/ouzi-dev/test-infra/test-infra-jobs.yaml
Due: test-prow-config, test-config-postsubmit

feat: auto deploy cluster on merge (#54)
  Makefile
  cluster/Makefile
  cluster/values.yaml
  config/jobs/ouzi-dev/test-infra/test-infra-jobs.yaml
  infrastructure/Makefile
  infrastructure/main.tf
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit, test-terraform-changes

fix: upgrade to latest prow tf module
  infrastructure/main.tf
Due: test-terraform-changes

fix: get latest tf module
  infrastructure/main.tf
Due: test-terraform-changes

fix: upgrade to latest prow tf module (#55)
  infrastructure/main.tf
Due: test-terraform-changes

feat: add tolerations to whallers of the moon jobs
  config/jobs/ouzi-dev/whalers-of-the-moon/whalers_of_the_moon.yaml
Due: test-prow-config, test-config-postsubmit

Path conditions:
  test-prow-config: any of: ^(config/.*|prow/.*)$
  monitoring-dry-run: any of: monitoring/
  test-config-postsubmit: any of: ^(config/.*|prow/.*)$
  test-prow-manifests: any of: prow/manifests/
  test-terraform-changes: any of: infrastructure/
  test-prow-manifests-postsubmit: any of: prow/manifests/
  monitoring: any of: monitoring/
