Repository ouzi-dev/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: test-prow-config, monitoring-dry-run, test-config-postsubmit, test-prow-manifests, test-terraform-changes, test-prow-manifests-postsubmit, test-infra, test-manifests, monitoring, apply-infra, deploy-prow

Path conditions:
  test-prow-config: any of: ^(config/.*|prow/.*)$
  monitoring-dry-run: any of: monitoring/
  test-config-postsubmit: any of: ^(config/.*|prow/.*)$
  test-prow-manifests: any of: prow/manifests/
  test-terraform-changes: any of: infrastructure/
  test-prow-manifests-postsubmit: any of: prow/manifests/
  test-infra: any of: ^(infrastructure/.*)$
  test-manifests: any of: ^(cluster/.*)$
  monitoring: any of: monitoring/
  apply-infra: any of: ^(infrastructure/.*)$
  deploy-prow: any of: ^(cluster/.*)$

fix: bring utility images in sync with helm chart
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

fix: bring utility images in sync with helm chart (#84)
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

fix: trigger labels redeploy
  prow/labels.yaml
Due: test-prow-config, test-config-postsubmit

fix: trigger labels redeploy (#85)
  prow/labels.yaml
Due: test-prow-config, test-config-postsubmit

feat: create node killer svc
  infrastructure/Makefile
  infrastructure/main.tf
  infrastructure/outputs.tf
Due: test-terraform-changes, test-infra, apply-infra

feat: install estafette preemptible killer
  cluster/11-estafette-gke-preemptible-killer/manifests/pre/01-namespace.yaml
  cluster/11-estafette-gke-preemptible-killer/manifests/pre/02-rbac.yaml
  cluster/11-estafette-gke-preemptible-killer/manifests/pre/03-credstashsecret.yaml
  cluster/11-estafette-gke-preemptible-killer/manifests/pre/04-deployment.yaml
  cluster/11-estafette-gke-preemptible-killer/manifests_values.yaml.tpl
  cluster/Makefile
  cluster/values.yaml
Due: test-manifests, deploy-prow

feat: template tag
  cluster/11-estafette-gke-preemptible-killer/manifests/pre/04-deployment.yaml
  cluster/11-estafette-gke-preemptible-killer/manifests_values.yaml.tpl
Due: test-manifests, deploy-prow

feat: add preemptible killer and handler
  cluster/11-estafette-gke-preemptible-killer/manifests_values.yaml.tpl
  cluster/11-gke-preemptible-killer/manifests/pre/01-namespace.yaml
  cluster/11-gke-preemptible-killer/manifests/pre/02-rbac.yaml
  cluster/11-gke-preemptible-killer/manifests/pre/03-credstashsecret.yaml
  cluster/11-gke-preemptible-killer/manifests/pre/04-deployment.yaml
  cluster/11-gke-preemptible-killer/manifests_values.yaml.tpl
  cluster/12-gke-node-termination-handler/manifests/pre/01-rbac.yaml
  cluster/12-gke-node-termination-handler/manifests/pre/02-k8s.yaml
  cluster/12-gke-node-termination-handler/manifests_values.yaml.tpl
  cluster/Makefile
  cluster/values.yaml
  infrastructure/Makefile
  infrastructure/main.tf
  infrastructure/outputs.tf
  infrastructure/terraform.tfvars
  infrastructure/variables.tf
Due: test-terraform-changes, test-infra, test-manifests, apply-infra, deploy-prow

feat: add preemptible killer and handler
  cluster/Makefile
  cluster/values.yaml
Due: test-manifests, deploy-prow

feat: switch to new prow gke tf module
  infrastructure/main.tf
Due: test-terraform-changes, test-infra, apply-infra

fix: use correct credstash secrets
  cluster/values.yaml
Due: test-manifests, deploy-prow

feat: create node killer svc (#86)
  cluster/11-gke-preemptible-killer/manifests/pre/01-namespace.yaml
  cluster/11-gke-preemptible-killer/manifests/pre/02-rbac.yaml
  cluster/11-gke-preemptible-killer/manifests/pre/03-credstashsecret.yaml
  cluster/11-gke-preemptible-killer/manifests/pre/04-deployment.yaml
  cluster/11-gke-preemptible-killer/manifests_values.yaml.tpl
  cluster/12-gke-node-termination-handler/manifests/pre/01-rbac.yaml
  cluster/12-gke-node-termination-handler/manifests/pre/02-k8s.yaml
  cluster/12-gke-node-termination-handler/manifests_values.yaml.tpl
  cluster/Makefile
  cluster/values.yaml
  infrastructure/Makefile
  infrastructure/main.tf
  infrastructure/outputs.tf
  infrastructure/terraform.tfvars
  infrastructure/variables.tf
Due: test-terraform-changes, test-infra, test-manifests, apply-infra, deploy-prow

feat: bring prow-installer under mngmt
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

feat: bring prow-installer under mngmt (#87)
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

feat: add enforced prow installer jobs
  config/jobs/ouzi-dev/prow-installer/prow-installer.yaml
Due: test-prow-config, test-config-postsubmit

feat: add enforced prow installer jobs (#88)
  config/jobs/ouzi-dev/prow-installer/prow-installer.yaml
Due: test-prow-config, test-config-postsubmit

feat: bump to latest toolbox
  config/jobs/ouzi-dev/test-infra/test-infra.yaml
Due: test-prow-config, test-config-postsubmit

feat: bump to latest toolbox (#90)
  config/jobs/ouzi-dev/test-infra/test-infra.yaml
Due: test-prow-config, test-config-postsubmit

debug: credstash error
  cluster/Makefile
  infrastructure/Makefile
Due: test-terraform-changes, test-infra, test-manifests, apply-infra, deploy-prow

fix: make sure we run dry run
  Makefile
Due: none

fix: remove duplicate init
  Makefile
Due: none

fix: use correct credstash secret
  cluster/values.yaml
Due: test-manifests, deploy-prow

feat: use latest credstash operator
  cluster/Makefile
  cluster/values.yaml
Due: test-manifests, deploy-prow

feat: bump to latest prow installer
  cluster/Makefile
Due: test-manifests, deploy-prow

fix: specify region for credstash
  cluster/values.yaml
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit, test-manifests, deploy-prow

fix: remove unused secrets
  cluster/values.yaml
Due: test-manifests, deploy-prow

fix: specify region for credstash
  cluster/Makefile
Due: test-manifests, deploy-prow

fix: init the installer
  cluster/Makefile
Due: test-manifests, deploy-prow

fix: use credstash secrets
  cluster/Makefile
Due: test-manifests, deploy-prow

fix: bump to latest prow installer
  cluster/Makefile
Due: test-manifests, deploy-prow

fix: bump to latest installer
  cluster/Makefile
Due: test-manifests, deploy-prow

fix: bump to latest prow
  cluster/Makefile
Due: test-manifests, deploy-prow

feat: bump to v1.2.8 prow installer
  cluster/Makefile
Due: test-manifests, deploy-prow

feat: remove old cannon repo
  config/jobs/ouzi-dev/cannon-prow/cannon-prow.yaml
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

feat: remove old cannon repo (#91)
  config/jobs/ouzi-dev/cannon-prow/cannon-prow.yaml
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

feat: add surge support on node upgrades
  infrastructure/main.tf
Due: test-terraform-changes, test-infra, apply-infra
