Repository ouzi-dev/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: test-prow-config, monitoring-dry-run, test-config-postsubmit, test-prow-manifests, test-terraform-changes, test-prow-manifests-postsubmit

test-prow-config:
  decorate: true
  spec:
    containers:
    - name: test-config
      imagePullPolicy: IfNotPresent
      command:
      - checkconfig
      args:
      - --config-path=prow/config.yaml
      - --plugin-config=prow/plugins.yaml
      - --job-config-path=config/jobs
      image: belitre/checkconfig:latest

monitoring-dry-run:
  decorate: true
  spec:
    containers:
    - name: monitoring-dry-run
      imagePullPolicy: IfNotPresent
      command:
      - make
      args:
      - monitoring-dry-run
      image: quay.io/ouzi/toolbox:0.1.2

test-config-postsubmit:
  decorate: true
  spec:
    containers:
    - name: test-config
      imagePullPolicy: IfNotPresent
      command:
      - checkconfig
      args:
      - --config-path=prow/config.yaml
      - --plugin-config=prow/plugins.yaml
      - --job-config-path=config/jobs
      image: belitre/checkconfig:latest

test-prow-manifests:
  decorate: true
  spec:
    serviceAccountName: prow
    containers:
    - name: test-manifests
      imagePullPolicy: IfNotPresent
      command:
      - make
      args:
      - deploy-prow-dry-run
      image: belitre/kubectl:latest

test-terraform-changes:
  decorate: true
  labels:
    preset-terraform: 'true'
  spec:
    serviceAccountName: prow
    containers:
    - name: test-terraform-changes
      imagePullPolicy: IfNotPresent
      command:
      - make
      args:
      - infra-plan
      image: hashicorp/terraform:0.12.7

test-prow-manifests-postsubmit:
  decorate: true
  spec:
    serviceAccountName: prow
    containers:
    - name: test-manifests
      imagePullPolicy: IfNotPresent
      command:
      - make
      args:
      - deploy-prow
      image: belitre/kubectl:latest

fix: apply instead of create to be able to run multiple times the target
  monitoring/Makefile
Due: monitoring-dry-run

fix: image with helm 2
  config/jobs/ouzi-dev/test-infra/jobs.yaml
Due: test-prow-config, test-config-postsubmit

fix: initialise helm!
  monitoring/Makefile
Due: monitoring-dry-run

fix: fix grafana dashboards path in github to use master branch
  monitoring/grafana-dashboards/dashboards.jsonnet
  monitoring/grafana-dashboards/output/values.json
Due: monitoring-dry-run

fix: fix grafana dashboards path in github to use master branch (#36)
  monitoring/grafana-dashboards/dashboards.jsonnet
  monitoring/grafana-dashboards/output/values.json
Due: monitoring-dry-run

fix: add resources to docker build
  config/jobs/ouzi-dev/whalers-of-the-moon/whalers_of_the_moon.yaml
Due: test-prow-config, test-config-postsubmit

fix: add resources to docker build (#38)
  config/jobs/ouzi-dev/whalers-of-the-moon/whalers_of_the_moon.yaml
Due: test-prow-config, test-config-postsubmit

fix: add aws present for dms
  config/jobs/ouzi-dev/cannon-prow/jobs.yaml
  prow/config.yaml
  prow/manifests/00-init.yaml
  prow/plugins.yaml
  prow/templates/config.yaml.template
Due: test-prow-config, test-config-postsubmit, test-prow-manifests, test-prow-manifests-postsubmit

fix: indentation and missing env key
  prow/config.yaml
  prow/templates/config.yaml.template
Due: test-prow-config, test-config-postsubmit

feat: create jobs to auto deploy cannon cluster and components
  config/jobs/ouzi-dev/cannon-prow/jobs.yaml
Due: test-prow-config, test-config-postsubmit

fix: get the presents setup for the cannon jobs
  prow/config.yaml
  prow/templates/config.yaml.template
Due: test-prow-config, test-config-postsubmit

fix: document manually injected creds
  prow/manifests/00-init.yaml
Due: test-prow-config, test-config-postsubmit, test-prow-manifests, test-prow-manifests-postsubmit

fix: use unique names
  config/jobs/ouzi-dev/cannon-prow/cannon-prow-jobs.yaml
  config/jobs/ouzi-dev/test-infra/test-infra-jobs.yaml
Due: test-prow-config, test-config-postsubmit

fix: add cannon prow job
  config/jobs/ouzi-dev/cannon-prow/cannon-prow-jobs.yaml
  prow/config.yaml
  prow/job.yaml
  prow/templates/config.yaml.template
Due: test-prow-config, test-config-postsubmit

fix: call infra-setup before plan/apply
  config/jobs/ouzi-dev/cannon-prow/cannon-prow-jobs.yaml
Due: test-prow-config, test-config-postsubmit

fix: add auto approve when applying
  config/jobs/ouzi-dev/cannon-prow/cannon-prow-jobs.yaml
Due: test-prow-config, test-config-postsubmit

fix: update prometheus
  monitoring/grafana-dashboards/output/mixin-cluster-total.json
  monitoring/grafana-dashboards/output/mixin-namespace-by-pod.json
  monitoring/grafana-dashboards/output/mixin-namespace-by-workload.json
  monitoring/jsonnetfile.lock.json
  monitoring/manifests/prometheus/01-prometheus-operator-0alertmanagerCustomResourceDefinition.yaml
  monitoring/manifests/prometheus/01-prometheus-operator-0podmonitorCustomResourceDefinition.yaml
  monitoring/manifests/prometheus/01-prometheus-operator-0prometheusCustomResourceDefinition.yaml
  monitoring/manifests/prometheus/01-prometheus-operator-0prometheusruleCustomResourceDefinition.yaml
  monitoring/manifests/prometheus/01-prometheus-operator-0servicemonitorCustomResourceDefinition.yaml
  monitoring/manifests/prometheus/01-prometheus-operator-clusterRole.yaml
  monitoring/manifests/prometheus/01-prometheus-operator-clusterRoleBinding.yaml
  monitoring/manifests/prometheus/01-prometheus-operator-deployment.yaml
  monitoring/manifests/prometheus/01-prometheus-operator-service.yaml
  monitoring/manifests/prometheus/01-prometheus-operator-serviceAccount.yaml
  monitoring/manifests/prometheus/prometheus-operator-serviceMonitor.yaml
Due: monitoring-dry-run

fix: update prometheus (#39)
  monitoring/grafana-dashboards/output/mixin-cluster-total.json
  monitoring/grafana-dashboards/output/mixin-namespace-by-pod.json
  monitoring/grafana-dashboards/output/mixin-namespace-by-workload.json
  monitoring/jsonnetfile.lock.json
  monitoring/manifests/prometheus/01-prometheus-operator-0alertmanagerCustomResourceDefinition.yaml
  monitoring/manifests/prometheus/01-prometheus-operator-0podmonitorCustomResourceDefinition.yaml
  monitoring/manifests/prometheus/01-prometheus-operator-0prometheusCustomResourceDefinition.yaml
  monitoring/manifests/prometheus/01-prometheus-operator-0prometheusruleCustomResourceDefinition.yaml
  monitoring/manifests/prometheus/01-prometheus-operator-0servicemonitorCustomResourceDefinition.yaml
  monitoring/manifests/prometheus/01-prometheus-operator-clusterRole.yaml
  monitoring/manifests/prometheus/01-prometheus-operator-clusterRoleBinding.yaml
  monitoring/manifests/prometheus/01-prometheus-operator-deployment.yaml
  monitoring/manifests/prometheus/01-prometheus-operator-service.yaml
  monitoring/manifests/prometheus/01-prometheus-operator-serviceAccount.yaml
  monitoring/manifests/prometheus/prometheus-operator-serviceMonitor.yaml
Due: monitoring-dry-run

bump: toolbox image
  config/jobs/ouzi-dev/cannon-prow/cannon-prow-jobs.yaml
Due: test-prow-config, test-config-postsubmit

Feat/add cannon prow jobs (#37)
  config/jobs/ouzi-dev/cannon-prow/cannon-prow-jobs.yaml
  config/jobs/ouzi-dev/test-infra/test-infra-jobs.yaml
  prow/config.yaml
  prow/job.yaml
  prow/manifests/00-init.yaml
  prow/plugins.yaml
  prow/templates/config.yaml.template
Due: test-prow-config, test-config-postsubmit, test-prow-manifests, test-prow-manifests-postsubmit

fix auto approve
  config/jobs/ouzi-dev/cannon-prow/cannon-prow-jobs.yaml
Due: test-prow-config, test-config-postsubmit

fix auto approve (#40)
  config/jobs/ouzi-dev/cannon-prow/cannon-prow-jobs.yaml
Due: test-prow-config, test-config-postsubmit

feat: update checkconfig for the ouzi test-infra to the newest version of prow
  config/jobs/ouzi-dev/test-infra/test-infra-jobs.yaml
Due: test-prow-config, test-config-postsubmit

feat: update checkconfig for the ouzi test-infra to the newest version of prow (#41)
  config/jobs/ouzi-dev/test-infra/test-infra-jobs.yaml
Due: test-prow-config, test-config-postsubmit

feat: use credstash to store secrets from tf
  infrastructure/.kubeconfig.yaml.tpl
  infrastructure/Makefile
  infrastructure/outputs.tf
Due: test-terraform-changes

fix: ignore kubeconfig
  infrastructure/.gitignore
Due: test-terraform-changes

feat: use credstash to store secrets from tf (#42)
  infrastructure/.gitignore
  infrastructure/.kubeconfig.yaml.tpl
  infrastructure/Makefile
  infrastructure/outputs.tf
Due: test-terraform-changes

fix: ignore all dot files
  infrastructure/.gitignore
  infrastructure/Makefile
Due: test-terraform-changes

fix: ignore all dot files (#43)
  infrastructure/.gitignore
  infrastructure/Makefile
Due: test-terraform-changes

fix: run postsubmit only on master
  config/jobs/ouzi-dev/cannon-prow/cannon-prow-jobs.yaml
Due: test-prow-config, test-config-postsubmit

fix: run postsubmit only on master (#45)
  config/jobs/ouzi-dev/cannon-prow/cannon-prow-jobs.yaml
Due: test-prow-config, test-config-postsubmit

fix: tweaks
  infrastructure/Makefile
  infrastructure/main.tf
  infrastructure/outputs.tf
  infrastructure/terraform.tfvars
  infrastructure/variables.tf
  prow/cluster/00-storage/manifests/ssd-retain.yaml
  prow/cluster/01-rbac/manifests/cluster_role_binding_ouzi.yaml
  prow/cluster/02-pod-disruption-budget/manifests/calico-node-autoscaler.yaml
  prow/cluster/02-pod-disruption-budget/manifests/calico-typha-autoscaler.yaml
  prow/cluster/02-pod-disruption-budget/manifests/calico-typha.yaml
  prow/cluster/02-pod-disruption-budget/manifests/event-exporter.yaml
  prow/cluster/02-pod-disruption-budget/manifests/fluentd-gcp-scaler.yaml
  prow/cluster/02-pod-disruption-budget/manifests/glbc.yaml
  prow/cluster/02-pod-disruption-budget/manifests/heapster.yaml
  prow/cluster/02-pod-disruption-budget/manifests/kube-dns-autoscaler.yaml
  prow/cluster/02-pod-disruption-budget/manifests/kube-dns.yaml
  prow/cluster/02-pod-disruption-budget/manifests/kubernetes-dashboard.yaml
  prow/cluster/02-pod-disruption-budget/manifests/metrics-server.yaml
  prow/cluster/03-credstash-controller/manifests/00-namespace.yaml
  prow/cluster/03-credstash-controller/manifests/01-rbac.yaml
  prow/cluster/03-credstash-controller/manifests/02-aws-secrets.yaml
  prow/cluster/03-credstash-controller/manifests/03-deployment.yaml
  prow/cluster/03-credstash-controller/manifests/pre/00-crd.yaml
  prow/cluster/04-cert-manager/manifests/crds/01-crds.yaml
  prow/cluster/04-cert-manager/manifests/pre/01-namespace.yaml
  prow/cluster/08-prow/manifests/pre/02-credstashsecret.yaml
  prow/cluster/Makefile
  prow/cluster/values.yaml
Due: test-prow-config, test-config-postsubmit, test-prow-manifests, test-terraform-changes, test-prow-manifests-postsubmit

fix: trigger reload of jobs
  config/jobs/ouzi-dev/test-infra/test-infra-jobs.yaml
Due: test-prow-config, test-config-postsubmit

fix: trigger reload of jobs (#46)
  config/jobs/ouzi-dev/test-infra/test-infra-jobs.yaml
Due: test-prow-config, test-config-postsubmit

fix: trigger reload of jobs
  config/jobs/ouzi-dev/avro-kedavro/avro-kedavro-jobs.yaml
  config/jobs/ouzi-dev/bigbang/bigbang-jobs.yaml
  config/jobs/ouzi-dev/cannon-prow/cannon-prow-jobs.yaml
  config/jobs/ouzi-dev/gke-terraform/gke-terraform-jobs.yaml
  config/jobs/ouzi-dev/prow-gke-terraform/prow-gke-terraform-jobs.yaml
  config/jobs/ouzi-dev/prow-helm-chart/prow-helm-charts-jobs.yaml
  config/jobs/ouzi-dev/whalers-of-the-moon/whalers_of_the_moon.yaml
Due: test-prow-config, test-config-postsubmit

Path conditions:
  test-prow-config: any of: ^(config/.*|prow/.*)$
  monitoring-dry-run: any of: monitoring/
  test-config-postsubmit: any of: ^(config/.*|prow/.*)$
  test-prow-manifests: any of: prow/manifests/
  test-terraform-changes: any of: infrastructure/
  test-prow-manifests-postsubmit: any of: prow/manifests/
