Repository ouzi-dev/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: test-prow-config, test-prow-manifests, test-terraform-changes, test-config-postsubmit, test-prow-manifests-postsubmit

test-prow-config:
  decorate: true
  spec:
    containers:
    - name: test-config
      imagePullPolicy: IfNotPresent
      command:
      - checkconfig
      args:
      - --config-path=prow/config.yaml
      - --plugin-config=prow/plugins.yaml
      - --job-config-path=config/jobs
      image: belitre/checkconfig:latest

test-prow-manifests:
  decorate: true
  spec:
    serviceAccountName: prow
    containers:
    - name: test-manifests
      imagePullPolicy: IfNotPresent
      command:
      - make
      args:
      - deploy-prow-dry-run
      image: belitre/kubectl:latest

test-terraform-changes:
  decorate: true
  labels:
    preset-terraform: 'true'
  spec:
    serviceAccountName: prow
    containers:
    - name: test-terraform-changes
      imagePullPolicy: IfNotPresent
      command:
      - make
      args:
      - infra-plan
      image: hashicorp/terraform:0.12.7

test-config-postsubmit:
  decorate: true
  spec:
    containers:
    - name: test-config
      imagePullPolicy: IfNotPresent
      command:
      - checkconfig
      args:
      - --config-path=prow/config.yaml
      - --plugin-config=prow/plugins.yaml
      - --job-config-path=config/jobs
      image: belitre/checkconfig:latest

test-prow-manifests-postsubmit:
  decorate: true
  spec:
    serviceAccountName: prow
    containers:
    - name: test-manifests
      imagePullPolicy: IfNotPresent
      command:
      - make
      args:
      - deploy-prow
      image: belitre/kubectl:latest

feat: put an oauth proxy behind deck (#12)
  infrastructure/main.tf
  infrastructure/outputs.tf
  infrastructure/templates/_prow_values.yaml
  infrastructure/terraform.tfvars
  infrastructure/variables.tf
  prow/README.md
  prow/cluster/05-oauth/manifests/resources.yaml
  prow/manifests/03-starter.yaml
Due: test-prow-config, test-prow-manifests, test-terraform-changes, test-config-postsubmit, test-prow-manifests-postsubmit

Generate cookies and upgrade cert-manager
  infrastructure/main.tf
  infrastructure/outputs.tf
  infrastructure/terraform.tfvars
  infrastructure/variables.tf
  prow/Makefile
  prow/cluster/04-cert-manager/helm/values.yaml
  prow/cluster/04-cert-manager/manifests/00-crds.yaml
  prow/cluster/04-cert-manager/manifests/02-cluster-issuer-letsencrypt.yaml
  prow/cluster/05-oauth/manifests/resources.yaml
  prow/manifests/03-starter.yaml
  prow/plugins.yaml
Due: test-prow-config, test-prow-manifests, test-terraform-changes, test-config-postsubmit, test-prow-manifests-postsubmit

fix helm chart versions
  prow/Makefile
Due: test-prow-config, test-config-postsubmit

Feat/changes (#13)
  infrastructure/main.tf
  infrastructure/outputs.tf
  infrastructure/terraform.tfvars
  infrastructure/variables.tf
  prow/Makefile
  prow/cluster/04-cert-manager/helm/values.yaml
  prow/cluster/04-cert-manager/manifests/00-crds.yaml
  prow/cluster/04-cert-manager/manifests/02-cluster-issuer-letsencrypt.yaml
  prow/cluster/05-oauth/manifests/resources.yaml
  prow/manifests/03-starter.yaml
  prow/plugins.yaml
Due: test-prow-config, test-prow-manifests, test-terraform-changes, test-config-postsubmit, test-prow-manifests-postsubmit

Remove mention of ouzi for the slack bot
  infrastructure/main.tf
  infrastructure/outputs.tf
  infrastructure/variables.tf
Due: test-terraform-changes

Pull all ouzi mentions to vars
  infrastructure/Makefile
  infrastructure/main.tf
  infrastructure/terraform.tfvars
Due: test-terraform-changes

Feat/make infra generic (#14)
  infrastructure/Makefile
  infrastructure/main.tf
  infrastructure/outputs.tf
  infrastructure/terraform.tfvars
  infrastructure/variables.tf
Due: test-terraform-changes

Remove mention of quay
  infrastructure/main.tf
  infrastructure/outputs.tf
  infrastructure/templates/_prow_values.yaml
  infrastructure/variables.tf
Due: test-terraform-changes

Update tfvars
  infrastructure/terraform.tfvars
Due: test-terraform-changes

Feat/remove mention of quay (#15)
  infrastructure/main.tf
  infrastructure/outputs.tf
  infrastructure/templates/_prow_values.yaml
  infrastructure/terraform.tfvars
  infrastructure/variables.tf
Due: test-terraform-changes

Remove need to specify zones - make them always three
  infrastructure/main.tf
  infrastructure/terraform.tfvars
  infrastructure/variables.tf
Due: test-terraform-changes

Fix typo
  infrastructure/terraform.tfvars
Due: test-terraform-changes

Remove need to specify zones - make them always three (#16)
  infrastructure/main.tf
  infrastructure/terraform.tfvars
  infrastructure/variables.tf
Due: test-terraform-changes

feature: added jobs for avro-kedavro and use the correct images for whalers of the moon
  README.md
  config/jobs/ouzi-dev/avro-kedavro/avro-kedavro-jobs.yaml
  config/jobs/ouzi-dev/whalers-of-the-moon/whalers_of_the_moon.yaml
Due: test-prow-config, test-config-postsubmit

feature: added jobs for avro-kedavro and use the correct images for whalers of the moon (#17)
  README.md
  config/jobs/ouzi-dev/avro-kedavro/avro-kedavro-jobs.yaml
  config/jobs/ouzi-dev/whalers-of-the-moon/whalers_of_the_moon.yaml
Due: test-prow-config, test-config-postsubmit

fix: removed branches cause it looks it doesn't trigger jobs correctly
  config/jobs/ouzi-dev/avro-kedavro/avro-kedavro-jobs.yaml
  config/jobs/ouzi-dev/whalers-of-the-moon/whalers_of_the_moon.yaml
Due: test-prow-config, test-config-postsubmit

fix: removed branches cause it looks it doesn't trigger jobs correctly (#18)
  config/jobs/ouzi-dev/avro-kedavro/avro-kedavro-jobs.yaml
  config/jobs/ouzi-dev/whalers-of-the-moon/whalers_of_the_moon.yaml
Due: test-prow-config, test-config-postsubmit

fix: use correct github token for semantic-release
  config/jobs/ouzi-dev/avro-kedavro/avro-kedavro-jobs.yaml
Due: test-prow-config, test-config-postsubmit

fix: use correct github token for semantic-release (#19)
  config/jobs/ouzi-dev/avro-kedavro/avro-kedavro-jobs.yaml
Due: test-prow-config, test-config-postsubmit

Add new preset for semantic release
  config/jobs/ouzi-dev/gke-terraform/gke-terraform-jobs.yaml
  config/jobs/ouzi-dev/prow-gke-terraform/prow-gke-terraform-jobs.yaml
  prow/config.yaml
  prow/templates/config.yaml.template
Due: test-prow-config, test-config-postsubmit

fix: typo
  config/jobs/ouzi-dev/gke-terraform/gke-terraform-jobs.yaml
  config/jobs/ouzi-dev/prow-gke-terraform/prow-gke-terraform-jobs.yaml
Due: test-prow-config, test-config-postsubmit

Add new preset for semantic release (#20)
  config/jobs/ouzi-dev/gke-terraform/gke-terraform-jobs.yaml
  config/jobs/ouzi-dev/prow-gke-terraform/prow-gke-terraform-jobs.yaml
  prow/config.yaml
  prow/templates/config.yaml.template
Due: test-prow-config, test-config-postsubmit

Switch to prow cluster tf module
  infrastructure/main.tf
  infrastructure/outputs.tf
  infrastructure/templates/_prow_github_oauth_config.yaml
  infrastructure/templates/_prow_values.yaml
  infrastructure/terraform.tfvars
  infrastructure/variables.tf
  infrastructure/versions.tf
  prow/manifests/00-init.yaml
Due: test-prow-config, test-prow-manifests, test-terraform-changes, test-config-postsubmit, test-prow-manifests-postsubmit

Use the prow cluster module
  infrastructure/main.tf
Due: test-terraform-changes

Feat/switch to prow tf module (#21)
  infrastructure/main.tf
  infrastructure/outputs.tf
  infrastructure/templates/_prow_github_oauth_config.yaml
  infrastructure/templates/_prow_values.yaml
  infrastructure/terraform.tfvars
  infrastructure/variables.tf
  infrastructure/versions.tf
  prow/manifests/00-init.yaml
Due: test-prow-config, test-prow-manifests, test-terraform-changes, test-config-postsubmit, test-prow-manifests-postsubmit

Add helm image job
  config/jobs/ouzi-dev/whalers-of-the-moon/whalers_of_the_moon.yaml
Due: test-prow-config, test-config-postsubmit

Add helm image job (#23)
  config/jobs/ouzi-dev/whalers-of-the-moon/whalers_of_the_moon.yaml
Due: test-prow-config, test-config-postsubmit

add prow helm chart jobs
  config/jobs/ouzi-dev/prow-helm-chart/prow-helm-charts-jobs.yaml
Due: test-prow-config, test-config-postsubmit

Fix rerun command
  config/jobs/ouzi-dev/prow-helm-chart/prow-helm-charts-jobs.yaml
Due: test-prow-config, test-config-postsubmit

Remove unused flag
  prow/config.yaml
  prow/templates/config.yaml.template
Due: test-prow-config, test-config-postsubmit

Use a helm image with make
  config/jobs/ouzi-dev/prow-helm-chart/prow-helm-charts-jobs.yaml
Due: test-prow-config, test-config-postsubmit

add prow helm chart jobs (#22)
  config/jobs/ouzi-dev/prow-helm-chart/prow-helm-charts-jobs.yaml
  prow/config.yaml
  prow/templates/config.yaml.template
Due: test-prow-config, test-config-postsubmit

Fix repo name
  config/jobs/ouzi-dev/prow-helm-chart/prow-helm-charts-jobs.yaml
Due: test-prow-config, test-config-postsubmit

Fix repo name (#24)
  config/jobs/ouzi-dev/prow-helm-chart/prow-helm-charts-jobs.yaml
Due: test-prow-config, test-config-postsubmit

feat: Add postsubmit semver job for bigbang repo
  config/jobs/ouzi-dev/bigbang/bigbang-jobs.yaml
Due: test-prow-config, test-config-postsubmit

feat: Add postsubmit semver job for bigbang repo (#25)
  config/jobs/ouzi-dev/bigbang/bigbang-jobs.yaml
Due: test-prow-config, test-config-postsubmit

fix: use image with helm when doing the release
  config/jobs/ouzi-dev/prow-helm-chart/prow-helm-charts-jobs.yaml
Due: test-prow-config, test-config-postsubmit

feat: add build for toolbox
  config/jobs/ouzi-dev/prow-helm-chart/prow-helm-charts-jobs.yaml
  config/jobs/ouzi-dev/whalers-of-the-moon/whalers_of_the_moon.yaml
Due: test-prow-config, test-config-postsubmit

fix: typo in image name
  config/jobs/ouzi-dev/whalers-of-the-moon/whalers_of_the_moon.yaml
Due: test-prow-config, test-config-postsubmit

fix: use image with helm when doing the release (#26)
  config/jobs/ouzi-dev/prow-helm-chart/prow-helm-charts-jobs.yaml
  config/jobs/ouzi-dev/whalers-of-the-moon/whalers_of_the_moon.yaml
Due: test-prow-config, test-config-postsubmit

Path conditions:
  test-prow-config: any of: ^(config/.*|prow/.*)$
  test-prow-manifests: any of: prow/manifests/
  test-terraform-changes: any of: infrastructure/
  test-config-postsubmit: any of: ^(config/.*|prow/.*)$
  test-prow-manifests-postsubmit: any of: prow/manifests/
