Repository ouzi-dev/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: test-prow-config, test-prow-manifests, test-terraform-changes, test-config-postsubmit, test-prow-manifests-postsubmit

config/jobs/ouzi-dev/test-infra/ouzi-dev-test-infra-jobs.yaml:

presubmits:
  ouzi-dev/test-infra:
    - name: test-prow-config
      context: test-prow-config
      decorate: true 
      always_run: false 
      skip_report: false 
      max_concurrency: 1 
      trigger: "(?m)test-prow-config( please)?" 
      rerun_command: "test-prow-config"
      run_if_changed: '^(config/.*|prow/.*)$'
      decoration_config:
        ssh_key_secrets:
        - github-ssh-key
      clone_uri: "git@github.com:ouzi-dev/test-infra.git"  
      spec: 
        containers:
          - name: "test-config"
            imagePullPolicy: IfNotPresent
            command:
              - checkconfig
            args:
              - --config-path=prow/config.yaml
              - --plugin-config=prow/plugins.yaml
              - --job-config-path=config/jobs
            image: belitre/checkconfig:latest
    - name: test-prow-manifests
      context: test-prow-manifests
      decorate: true 
      always_run: false 
      skip_report: false 
      max_concurrency: 1 
      trigger: "(?m)test-prow-manifests( please)?" 
      rerun_command: "test-prow-manifests"
      run_if_changed: 'prow/manifests/'
      decoration_config:
        ssh_key_secrets:
        - github-ssh-key
      clone_uri: "git@github.com:ouzi-dev/test-infra.git"      
      spec: 
        serviceAccountName: prow
        containers:
          - name: "test-manifests"
            imagePullPolicy: IfNotPresent
            command:
              - make
            args:
              - deploy-prow-dry-run
            image: belitre/kubectl:latest
    - name: test-terraform-changes
      context: test-terraform-changes
      decorate: true 
      always_run: false 
      skip_report: false 
      max_concurrency: 1 
      trigger: "(?m)test-terraform-changes( please)?" 
      rerun_command: "test-terraform-changes"
      run_if_changed: 'infrastructure/'
      decoration_config:
        ssh_key_secrets:
        - github-ssh-key
      clone_uri: "git@github.com:ouzi-dev/test-infra.git"        
      labels:
        preset-terraform: "true"
      spec: 
        serviceAccountName: prow
        containers:
          - name: "test-terraform-changes"
            imagePullPolicy: IfNotPresent
            command:
              - make
            args:
              - infra-plan
            image: hashicorp/terraform:0.12.7            
postsubmits:
  ouzi-dev/test-infra:
    - name: test-config-postsubmit
      decorate: true
      max_concurrency: 1 
      run_if_changed: '^(config/.*|prow/.*)$'
      branches:
        - master
      decoration_config:
        ssh_key_secrets:
        - github-ssh-key
      clone_uri: "git@github.com:ouzi-dev/test-infra.git"      
      spec:
        containers:
          - name: "test-config"
            imagePullPolicy: IfNotPresent
            command:
              - checkconfig
            args:
              - --config-path=prow/config.yaml
              - --plugin-config=prow/plugins.yaml
              - --job-config-path=config/jobs
            image: belitre/checkconfig:latest
    - name: test-prow-manifests-postsubmit
      decorate: true 
      max_concurrency: 1 
      run_if_changed: 'prow/manifests/'
      branches:
        - master
      decoration_config:
        ssh_key_secrets:
        - github-ssh-key
      clone_uri: "git@github.com:ouzi-dev/test-infra.git"       
      spec: 
        serviceAccountName: prow
        containers:
          - name: "test-manifests"
            imagePullPolicy: IfNotPresent
            command:
              - make
            args:
              - deploy-prow
            image: belitre/kubectl:latest

fix: add package and semrelease dry run jobs
  config/jobs/ouzi-dev/prow-helm-chart/prow-helm-charts-jobs.yaml
Due: test-prow-config, test-config-postsubmit

fix: add package and semrelease dry run jobs (#27)
  config/jobs/ouzi-dev/prow-helm-chart/prow-helm-charts-jobs.yaml
Due: test-prow-config, test-config-postsubmit

fix: add needed creds for the job
  config/jobs/ouzi-dev/prow-helm-chart/prow-helm-charts-jobs.yaml
Due: test-prow-config, test-config-postsubmit

fix: add needed creds for the job (#28)
  config/jobs/ouzi-dev/prow-helm-chart/prow-helm-charts-jobs.yaml
Due: test-prow-config, test-config-postsubmit

feat: Add Helm Admin SA when releasing helm charts
  config/jobs/ouzi-dev/prow-helm-chart/prow-helm-charts-jobs.yaml
  prow/config.yaml
  prow/templates/config.yaml.template
Due: test-prow-config, test-config-postsubmit

feat: Add Helm Admin SA when releasing helm charts (#29)
  config/jobs/ouzi-dev/prow-helm-chart/prow-helm-charts-jobs.yaml
  prow/config.yaml
  prow/templates/config.yaml.template
Due: test-prow-config, test-config-postsubmit

fix switch to helm v2
  config/jobs/ouzi-dev/prow-helm-chart/prow-helm-charts-jobs.yaml
Due: test-prow-config, test-config-postsubmit

Fix/switch to helmv2 (#30)
  config/jobs/ouzi-dev/prow-helm-chart/prow-helm-charts-jobs.yaml
Due: test-prow-config, test-config-postsubmit

fix: use helm3 for prow chart
  config/jobs/ouzi-dev/prow-helm-chart/prow-helm-charts-jobs.yaml
Due: test-prow-config, test-config-postsubmit

fix: added colour for released label
  prow/labels.yaml
Due: test-prow-config, test-config-postsubmit

fix: use helm3 for prow chart (#31)
  config/jobs/ouzi-dev/prow-helm-chart/prow-helm-charts-jobs.yaml
Due: test-prow-config, test-config-postsubmit

fix: added colour for released label (#32)
  prow/labels.yaml
Due: test-prow-config, test-config-postsubmit

fix: use just one oauth proxy for the whole subdomain
  prow/Makefile
  prow/cluster/05-oauth/manifests/resources.yaml
  prow/manifests/03-starter.yaml
  prow/templates/labels.yaml.template
Due: test-prow-config, test-prow-manifests, test-config-postsubmit, test-prow-manifests-postsubmit

fix: use just one oauth proxy for the whole subdomain (#34)
  prow/Makefile
  prow/cluster/05-oauth/manifests/resources.yaml
  prow/manifests/03-starter.yaml
  prow/templates/labels.yaml.template
Due: test-prow-config, test-prow-manifests, test-config-postsubmit, test-prow-manifests-postsubmit

fix: json to yaml correctly
  monitoring/Makefile
  monitoring/build.sh
  monitoring/manifests/prometheus/01-prometheus-operator-0alertmanagerCustomResourceDefinition
  monitoring/manifests/prometheus/01-prometheus-operator-0podmonitorCustomResourceDefinition
  monitoring/manifests/prometheus/01-prometheus-operator-0prometheusCustomResourceDefinition
  monitoring/manifests/prometheus/01-prometheus-operator-0prometheusruleCustomResourceDefinition
  monitoring/manifests/prometheus/01-prometheus-operator-0servicemonitorCustomResourceDefinition
  monitoring/manifests/prometheus/prometheus-adapter-clusterRoleAggregatedMetricsReader
Due: none

fix: external url as string instead of array
  Makefile
  config/jobs/ouzi-dev/test-infra/jobs.yaml
  monitoring/Makefile
  monitoring/kube-prometheus/kube-prometheus.jsonnet
  monitoring/manifests/prometheus/alertmanager-alertmanager.yaml
  monitoring/manifests/prometheus/prometheus-prometheus.yaml
Due: test-prow-config, test-config-postsubmit

fix: use correct class for pvc
  monitoring/kube-prometheus/additional-scrape.libsonnet
  monitoring/kube-prometheus/kube-prometheus.jsonnet
  monitoring/manifests/prometheus/prometheus-additionalScrape.yaml
  monitoring/manifests/prometheus/prometheus-prometheus.yaml
Due: none

feat: added prow job to run monitoring-dry-run
  Makefile
  config/jobs/ouzi-dev/test-infra/jobs.yaml
  monitoring/Makefile
  monitoring/build.sh
Due: test-prow-config, test-config-postsubmit

fix: test use service account in pod
  config/jobs/ouzi-dev/test-infra/jobs.yaml
Due: test-prow-config, test-config-postsubmit

fix: additional scrape for prometheus
  monitoring/kube-prometheus/additional-scrape.libsonnet
  monitoring/manifests/expose/alertmanager-ingress.yaml
  monitoring/manifests/prometheus/alertmanager-alertmanager.yaml
  monitoring/manifests/prometheus/prometheus-additionalScrape.yaml
  monitoring/manifests/prometheus/prometheus-prometheus.yaml
  prow/plugins.yaml
Due: test-prow-config, test-config-postsubmit

fix: get vendor folder on compile
  monitoring/Makefile
  monitoring/jsonnetfile.lock.json
  monitoring/manifests/prometheus/prometheus-rules.yaml
Due: none

fix: just one replica for alert manager and remove the commented helm chart for prometheus operator
  monitoring/kube-prometheus/kube-prometheus.jsonnet
  prow/Makefile
Due: test-prow-config, test-config-postsubmit

fix: removed service account from dry-run
  config/jobs/ouzi-dev/test-infra/jobs.yaml
  monitoring/README.md
  monitoring/manifests/expose/alertmanager-ingress.yaml
  monitoring/manifests/expose/alertmanager-oauth-ingress.yaml
  monitoring/manifests/expose/oauth-certificate.yaml
  monitoring/manifests/expose/prometheus-ingress.yaml
  monitoring/manifests/expose/prometheus-oauth.yaml
Due: test-prow-config, test-config-postsubmit

fix: removed alerts for managed gke cluster
  monitoring/kube-prometheus/ingress.libsonnet
  monitoring/kube-prometheus/managed-gke.libsonnet
  monitoring/manifests/prometheus/prometheus-rules.yaml
Due: none

feat: add grafana
  monitoring/Makefile
  monitoring/grafana-dashboards/dashboards.jsonnet
  monitoring/grafana-dashboards/output/deck-dashboard.json
  monitoring/grafana-dashboards/output/ghproxy-dashboard.json
  monitoring/grafana-dashboards/output/hook-dashboard.json
  monitoring/grafana-dashboards/output/mixin-apiserver.json
  monitoring/grafana-dashboards/output/mixin-cluster-total.json
  monitoring/grafana-dashboards/output/mixin-controller-manager.json
  monitoring/grafana-dashboards/output/mixin-k8s-resources-cluster.json
  monitoring/grafana-dashboards/output/mixin-k8s-resources-namespace.json
  monitoring/grafana-dashboards/output/mixin-k8s-resources-node.json
  monitoring/grafana-dashboards/output/mixin-k8s-resources-pod.json
  monitoring/grafana-dashboards/output/mixin-k8s-resources-workload.json
  monitoring/grafana-dashboards/output/mixin-k8s-resources-workloads-namespace.json
  monitoring/grafana-dashboards/output/mixin-kubelet.json
  monitoring/grafana-dashboards/output/mixin-namespace-by-pod.json
  monitoring/grafana-dashboards/output/mixin-namespace-by-workload.json
  monitoring/grafana-dashboards/output/mixin-persistentvolumesusage.json
  monitoring/grafana-dashboards/output/mixin-pod-total.json
  monitoring/grafana-dashboards/output/mixin-pods.json
  monitoring/grafana-dashboards/output/mixin-proxy.json
  monitoring/grafana-dashboards/output/mixin-scheduler.json
  monitoring/grafana-dashboards/output/mixin-statefulset.json
  monitoring/grafana-dashboards/output/mixin-workload-total.json
  monitoring/grafana-dashboards/output/plank-dashboard.json
  monitoring/grafana-dashboards/output/prow-dashboard.json
  monitoring/grafana-dashboards/output/sinker-dashboard.json
  monitoring/grafana-dashboards/output/tide-dashboard.json
  monitoring/grafana-dashboards/output/values.json
  monitoring/grafana-dashboards/raw/nginx-ingress-controller.json
  monitoring/grafana/values.yaml
  monitoring/jsonnetfile.json
  monitoring/jsonnetfile.lock.json
Due: none

fix: added readme and targets to create secrets and do a dry-run for the chart
  monitoring/Makefile
  monitoring/README.md
  monitoring/grafana-dashboards/dashboards.jsonnet
Due: none

fix: deploy grafana with prometheus using prow
  monitoring/Makefile
Due: none

fix: added prow dashboards
  monitoring/grafana-dashboards/dashboards.jsonnet
  monitoring/grafana-dashboards/output/values.json
Due: none

fix: add metrics for nginx ingress controller and generate values.json correctly
  monitoring/Makefile
  monitoring/grafana-dashboards/dashboards.jsonnet
  monitoring/grafana-dashboards/output/values.json
  monitoring/grafana/values.yaml
  monitoring/manifests/service-monitors/nginx-ingress-controller.yaml
  prow/Makefile
  prow/cluster/03-nginx-ingress/helm/values.yaml
Due: test-prow-config, test-config-postsubmit

fix: removed target added just to test change in nginx
  prow/Makefile
Due: test-prow-config, test-config-postsubmit

fix: added more permissions to prometheus to be able to get metrics from other namespaces
  monitoring/kube-prometheus/additional-rbac.libsonnet
  monitoring/kube-prometheus/kube-prometheus.jsonnet
  monitoring/manifests/prometheus/prometheus-clusterRole.yaml
Due: none

fix: remove bash stuff from the makefile
  monitoring/Makefile
Due: none

fix: use correct service account to do the kubectl dry-run
  config/jobs/ouzi-dev/test-infra/jobs.yaml
Due: test-prow-config, test-config-postsubmit

fix: add the rules instead of creating all of them
  monitoring/kube-prometheus/additional-rbac.libsonnet
Due: none

fix: allow get metrics from cadvisor
  monitoring/kube-prometheus/additional-rbac.libsonnet
  monitoring/manifests/prometheus/prometheus-clusterRole.yaml
Due: none

fix: removed dashboards for managed components
  monitoring/grafana-dashboards/dashboards.jsonnet
  monitoring/grafana-dashboards/output/mixin-apiserver.json
  monitoring/grafana-dashboards/output/mixin-controller-manager.json
  monitoring/grafana-dashboards/output/mixin-proxy.json
  monitoring/grafana-dashboards/output/mixin-scheduler.json
  monitoring/grafana-dashboards/output/values.json
Due: none

fix: update prow settings for metrics
  prow/config.yaml
  prow/manifests/03-starter.yaml
  prow/templates/config.yaml.template
Due: test-prow-config, test-prow-manifests, test-config-postsubmit, test-prow-manifests-postsubmit
