Repository ouzi-dev/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: test-prow-config, test-prow-manifests, test-terraform-changes, test-config-postsubmit, test-prow-manifests-postsubmit

config/jobs/ouzi-dev/test-infra/ouzi-dev-test-infra-jobs.yaml:

presubmits:
  ouzi-dev/test-infra:
    - name: test-prow-config
      context: test-prow-config
      decorate: true 
      always_run: false 
      skip_report: false 
      max_concurrency: 1 
      trigger: "(?m)test-prow-config( please)?" 
      rerun_command: "test-prow-config"
      run_if_changed: '^(config/.*|prow/.*)$'
      decoration_config:
        ssh_key_secrets:
        - github-ssh-key
      clone_uri: "git@github.com:ouzi-dev/test-infra.git"  
      spec: 
        containers:
          - name: "test-config"
            imagePullPolicy: IfNotPresent
            command:
              - checkconfig
            args:
              - --config-path=prow/config.yaml
              - --plugin-config=prow/plugins.yaml
              - --job-config-path=config/jobs
            image: belitre/checkconfig:latest
    - name: test-prow-manifests
      context: test-prow-manifests
      decorate: true 
      always_run: false 
      skip_report: false 
      max_concurrency: 1 
      trigger: "(?m)test-prow-manifests( please)?" 
      rerun_command: "test-prow-manifests"
      run_if_changed: 'prow/manifests/'
      decoration_config:
        ssh_key_secrets:
        - github-ssh-key
      clone_uri: "git@github.com:ouzi-dev/test-infra.git"      
      spec: 
        serviceAccountName: prow
        containers:
          - name: "test-manifests"
            imagePullPolicy: IfNotPresent
            command:
              - make
            args:
              - deploy-prow-dry-run
            image: belitre/kubectl:latest
    - name: test-terraform-changes
      context: test-terraform-changes
      decorate: true 
      always_run: false 
      skip_report: false 
      max_concurrency: 1 
      trigger: "(?m)test-terraform-changes( please)?" 
      rerun_command: "test-terraform-changes"
      run_if_changed: 'infrastructure/'
      decoration_config:
        ssh_key_secrets:
        - github-ssh-key
      clone_uri: "git@github.com:ouzi-dev/test-infra.git"        
      labels:
        preset-terraform: "true"
      spec: 
        serviceAccountName: prow
        containers:
          - name: "test-terraform-changes"
            imagePullPolicy: IfNotPresent
            command:
              - make
            args:
              - infra-plan
            image: hashicorp/terraform:0.12.7            
postsubmits:
  ouzi-dev/test-infra:
    - name: test-config-postsubmit
      decorate: true
      max_concurrency: 1 
      run_if_changed: '^(config/.*|prow/.*)$'
      branches:
        - master
      decoration_config:
        ssh_key_secrets:
        - github-ssh-key
      clone_uri: "git@github.com:ouzi-dev/test-infra.git"      
      spec:
        containers:
          - name: "test-config"
            imagePullPolicy: IfNotPresent
            command:
              - checkconfig
            args:
              - --config-path=prow/config.yaml
              - --plugin-config=prow/plugins.yaml
              - --job-config-path=config/jobs
            image: belitre/checkconfig:latest
    - name: test-prow-manifests-postsubmit
      decorate: true 
      max_concurrency: 1 
      run_if_changed: 'prow/manifests/'
      branches:
        - master
      decoration_config:
        ssh_key_secrets:
        - github-ssh-key
      clone_uri: "git@github.com:ouzi-dev/test-infra.git"       
      spec: 
        serviceAccountName: prow
        containers:
          - name: "test-manifests"
            imagePullPolicy: IfNotPresent
            command:
              - make
            args:
              - deploy-prow
            image: belitre/kubectl:latest

Push everything
  infrastructure/backend.tfvars
  infrastructure/bootstrap/main.tf
  infrastructure/bootstrap/outputs.tf
  infrastructure/bootstrap/terraform.tfstate
  infrastructure/bootstrap/terraform.tfstate.backup
  infrastructure/bootstrap/terraform.tfvars
  infrastructure/bootstrap/variables.tf
  infrastructure/main.tf
  infrastructure/terraform.tfvars
  prow/cluster-bootstrap/nginx-ingress/helm.yaml
  prow/cluster-bootstrap/oauth/resources.yaml
  prow/config.yaml
  prow/manifests/03-starter.yaml
Due: test-prow-config, test-prow-manifests, test-terraform-changes, test-config-postsubmit, test-prow-manifests-postsubmit

Latest try
  infrastructure/.gitignore
  infrastructure/Makefile
  infrastructure/README.md
  infrastructure/bootstrap/Makefile
  infrastructure/bootstrap/backend.tfvars
  infrastructure/bootstrap/main.tf
  infrastructure/bootstrap/outputs.tf
  infrastructure/bootstrap/terraform.tfstate
  infrastructure/bootstrap/terraform.tfstate.backup
Due: test-terraform-changes

Latest changes
  infrastructure/.gitignore
  infrastructure/Makefile
  infrastructure/backend.tfvars
  infrastructure/bootstrap/Makefile
  infrastructure/bootstrap/backend.tfvars
  infrastructure/bootstrap/outputs.tf
  infrastructure/bootstrap/terraform.tfvars
  infrastructure/main.tf
  infrastructure/terraform.tfvars
  infrastructure/variables.tf
Due: test-terraform-changes

Remove bootstrap nonsense
  infrastructure/Makefile
  infrastructure/backend.tfvars
  infrastructure/bootstrap/Makefile
  infrastructure/bootstrap/backend.tfvars
  infrastructure/bootstrap/main.tf
  infrastructure/bootstrap/outputs.tf
  infrastructure/bootstrap/terraform.tfvars
  infrastructure/bootstrap/variables.tf
Due: test-terraform-changes

Working cluster
  infrastructure/Makefile
  infrastructure/README.md
  infrastructure/backend.tfvars
  infrastructure/terraform.tfvars
Due: test-terraform-changes

close this branch
  infrastructure/Makefile
  infrastructure/README.md
  infrastructure/main.tf
  infrastructure/outputs.tf
  infrastructure/templates/_prow_values.yaml
  infrastructure/terraform.tfvars
  infrastructure/variables.tf
  prow/Makefile
  prow/cluster-bootstrap/00-rbac/cluster_role_binding_ouzi.yaml
Due: test-prow-config, test-terraform-changes, test-config-postsubmit

Export terraform values for kube resources
  infrastructure/outputs.tf
  prow/.gitignore
  prow/Makefile
Due: test-prow-config, test-terraform-changes, test-config-postsubmit

Get prow working
  config/jobs/ouzi-dev/test-infra/ouzi-dev-test-infra-jobs.yaml
  infrastructure/Makefile
  infrastructure/README.md
  infrastructure/main.tf
  infrastructure/outputs.tf
  infrastructure/templates/_prow_values.yaml
  infrastructure/terraform.tfvars
  infrastructure/variables.tf
  prow/.gitignore
  prow/Makefile
  prow/cluster-bootstrap/helm/00-init.yaml
  prow/cluster/00-rbac/manifests/cluster_role_binding_ouzi.yaml
  prow/cluster/01-helm/manifests/00-init.yaml
  prow/cluster/02-external-dns/helm/values.yaml
  prow/cluster/03-nginx-ingress/helm/values.yaml
  prow/cluster/04-cert-manager/helm/values.yaml
  prow/cluster/04-cert-manager/manifests/00-crds.yaml
  prow/cluster/04-cert-manager/manifests/01-clouddns-dns01-solver-svc-acct.yaml
  prow/cluster/04-cert-manager/manifests/02-cluster-issuer-letsencrypt.yaml
  prow/cluster/05-oauth/manifests/resources.yaml
  prow/cluster/06-pdbs/manifests/calico-node-autoscaler.yaml
  prow/cluster/06-pdbs/manifests/calico-typha-autoscaler.yaml
  prow/cluster/06-pdbs/manifests/calico-typha.yaml
  prow/cluster/06-pdbs/manifests/event-exporter.yaml
  prow/cluster/06-pdbs/manifests/fluentd-gcp-scaler.yaml
  prow/cluster/06-pdbs/manifests/glbc.yaml
  prow/cluster/06-pdbs/manifests/heapster.yaml
  prow/cluster/06-pdbs/manifests/kube-dns-autoscaler.yaml
  prow/cluster/06-pdbs/manifests/kube-dns.yaml
  prow/cluster/06-pdbs/manifests/kubernetes-dashboard.yaml
  prow/cluster/06-pdbs/manifests/metrics-server.yaml
  prow/config.yaml
  prow/manifests/00-init.yaml
  prow/manifests/03-starter.yaml
  prow/plugins.yaml
Due: test-prow-config, test-prow-manifests, test-terraform-changes, test-config-postsubmit, test-prow-manifests-postsubmit

Everything is now working as expected
  infrastructure/main.tf
  infrastructure/outputs.tf
  infrastructure/templates/_prow_values.yaml
  infrastructure/terraform.tfvars
  infrastructure/variables.tf
  prow/Makefile
  prow/cluster/04-cert-manager/manifests/00-crds.yaml
  prow/cluster/04-cert-manager/manifests/01-clouddns-dns01-solver-svc-acct.yaml
  prow/cluster/04-cert-manager/manifests/02-cluster-issuer-letsencrypt.yaml
  prow/config.yaml
  prow/manifests/00-init.yaml
  prow/manifests/03-starter.yaml
Due: test-prow-config, test-prow-manifests, test-terraform-changes, test-config-postsubmit, test-prow-manifests-postsubmit

Remove all jobs as we will use GitHub Actions for those
  config/jobs/ouzi-dev/test-infra/ouzi-dev-test-infra-jobs.yaml
Due: test-prow-config, test-config-postsubmit

Template bucket name in tode spec
  prow/manifests/03-starter.yaml
Due: test-prow-config, test-prow-manifests, test-config-postsubmit, test-prow-manifests-postsubmit

Add jobs
  config/jobs/ouzi-dev/test-infra/jobs.yaml
Due: test-prow-config, test-config-postsubmit

Commit rendered files
  .gitignore
  config/jobs/ouzi-dev/test-infra/jobs.yaml
  prow/.gitignore
  prow/Makefile
  prow/config.yaml.template
  prow/labels.yaml.template
  prow/plugins.yaml.template
Due: test-prow-config, test-config-postsubmit

Update jobs
  config/jobs/ouzi-dev/test-infra/jobs.yaml
  prow/Makefile
Due: test-prow-config, test-config-postsubmit

Add jobs (#6)
  .gitignore
  config/jobs/ouzi-dev/test-infra/jobs.yaml
  prow/.gitignore
  prow/Makefile
  prow/config.yaml.template
  prow/labels.yaml.template
  prow/plugins.yaml.template
Due: test-prow-config, test-config-postsubmit

Add quay bot dockerconfig in TF via credstash
  infrastructure/main.tf
  infrastructure/outputs.tf
  infrastructure/templates/_prow_values.yaml
  infrastructure/terraform.tfvars
  infrastructure/variables.tf
Due: test-terraform-changes

Add docker preset
  prow/config.yaml
  prow/config.yaml.template
  prow/manifests/00-init.yaml
Due: test-prow-config, test-prow-manifests, test-config-postsubmit, test-prow-manifests-postsubmit

Feature/add quay bot (#7)
  infrastructure/main.tf
  infrastructure/outputs.tf
  infrastructure/templates/_prow_values.yaml
  infrastructure/terraform.tfvars
  infrastructure/variables.tf
  prow/config.yaml
  prow/config.yaml.template
  prow/manifests/00-init.yaml
Due: test-prow-config, test-prow-manifests, test-terraform-changes, test-config-postsubmit, test-prow-manifests-postsubmit

feat: added jobs for the dockerfiles in whalers of the moon repo
  config/jobs/ouzi-dev/whalers-of-the-moon/jobs.yaml
Due: test-prow-config, test-config-postsubmit

fix: do not repeat filenames!
  config/jobs/ouzi-dev/whalers-of-the-moon/whalers_of_the_moon.yaml
Due: test-prow-config, test-config-postsubmit

feat: added jobs for the dockerfiles in whalers of the moon repo (#8)
  config/jobs/ouzi-dev/whalers-of-the-moon/whalers_of_the_moon.yaml
Due: test-prow-config, test-config-postsubmit

Move template files in their own folder
  prow/templates/config.yaml.template
  prow/templates/labels.yaml.template
  prow/templates/plugins.yaml.template
Due: test-prow-config, test-config-postsubmit

Enable branch protection enforcement
  prow/config.yaml
Due: test-prow-config, test-config-postsubmit

Enable branch protection enforcement cron
  prow/Makefile
  prow/config.yaml
  prow/manifests/03-starter.yaml
  prow/templates/config.yaml.template
Due: test-prow-config, test-prow-manifests, test-config-postsubmit, test-prow-manifests-postsubmit

Turn on branch protection
  prow/config.yaml
  prow/manifests/03-starter.yaml
  prow/templates/config.yaml.template
Due: test-prow-config, test-prow-manifests, test-config-postsubmit, test-prow-manifests-postsubmit

Add docs
  prow/plugins.yaml
Due: test-prow-config, test-config-postsubmit

Add short summary info
  README.md
Due: none

feat: Add /branch protection (#9)
  README.md
  prow/Makefile
  prow/config.yaml
  prow/manifests/03-starter.yaml
  prow/plugins.yaml
  prow/templates/config.yaml.template
  prow/templates/labels.yaml.template
  prow/templates/plugins.yaml.template
Due: test-prow-config, test-prow-manifests, test-config-postsubmit, test-prow-manifests-postsubmit

include docs branches in the branch protection
  README.md
  prow/templates/config.yaml.template
Due: test-prow-config, test-config-postsubmit

Update link
  README.md
Due: none

exclude feat, fix, docs
  prow/templates/config.yaml.template
Due: test-prow-config, test-config-postsubmit

Update docs (#10)
  README.md
  prow/templates/config.yaml.template
Due: test-prow-config, test-config-postsubmit

Add link to deck
  README.md
Due: none

Fix typo
  README.md
Due: none

Add a few comments
  prow/plugins.yaml
Due: test-prow-config, test-config-postsubmit

Always check for tide to be green
  prow/config.yaml
  prow/templates/config.yaml.template
Due: test-prow-config, test-config-postsubmit

Add comments
  prow/plugins.yaml
Due: test-prow-config, test-config-postsubmit

Add link to deck (#11)
  README.md
  prow/config.yaml
  prow/templates/config.yaml.template
Due: test-prow-config, test-config-postsubmit

feat: put an oauth proxy behind deck
  infrastructure/main.tf
  infrastructure/outputs.tf
  infrastructure/templates/_prow_values.yaml
  infrastructure/terraform.tfvars
  infrastructure/variables.tf
  prow/README.md
  prow/cluster/05-oauth/manifests/resources.yaml
  prow/manifests/03-starter.yaml
Due: test-prow-config, test-prow-manifests, test-terraform-changes, test-config-postsubmit, test-prow-manifests-postsubmit
